.sf-menu {
    width: 700px; /* no linebreak */
    
    /* from django admin panel: */
    font-size:11px;
    line-height:14px;
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
