<h3>sourcecode django tag</h3>

<p>example:</p>

<fieldset class="pygments_code">
<legend class="pygments_code">HTML+Django/Jinja</legend><table class="pygmentstable"><tr><td class="linenos"><pre>1
2
3</pre></td><td class="code"><div class="pygments"><pre><span class="cp">&#x7B;%</span> <span class="k">sourcecode</span> <span class="nv">ext</span><span class="o">=</span><span class="s2">&quot;.py&quot;</span> <span class="cp">%&#x7D;</span>
print &quot;Python is cool!&quot;
<span class="cp">&#x7B;%</span> <span class="k">endsourcecode</span> <span class="cp">%&#x7D;</span>

</pre></div>
</td></tr></table></fieldset>
<p>result:<br />
<fieldset class="pygments_code">
<legend class="pygments_code">Python</legend><table class="pygmentstable"><tr><td class="linenos"><pre>1</pre></td><td class="code"><div class="pygments"><pre><span class="k">print</span> <span class="s">&quot;Python is cool!&quot;</span>
</pre></div>
</td></tr></table></fieldset>
</p>

<p><strong>Info:</strong></p>

<ul>
    <li>With this method the code can contain django template tags, except the sourcecode tag :)</li>
    <li>You didn't see the result in "markup preview"!</li>
</ul>

<p>more info, on PyLucid homepage: <a href="http://www.pylucid.org/permalink/309/highlight-source-code">highlight source code</a></p>