{% extends template_name %}
{% load comments %}

{% block content %}
<div class="{{ CSS_PLUGIN_CLASS_NAME }} blog">
{% include "blog/includes/tagcloud.html" %}

<fieldset class="entry">
    <legend class="headline">
         <a href="{{ entry.get_absolute_url }}">{{ entry.headline }}<br />
         <small class="headline_info">{% blocktrans with entry.createtime|timesince as time %}Before {{ time }} published by{% endblocktrans %} {{ entry.createby }}.</small>
         </a>
    </legend>

    {% if not entry.is_public %}
        <p class="admin_info_line">not public</p>
    {% endif %}
    
    {% include "blog/includes/admin_links.html" %}
    
    <div class="content">{{ entry.get_html }}</div>
    
    {% if entry.lastupdateby %}
    <small><p class="date_info">
        (Last update: {{ entry.lastupdatetime|date:_("DATETIME_FORMAT") }} by {{ entry.lastupdateby }}.)
    </p></small>
    {% endif %}
    
    {% include "blog/includes/taglist.html" %}
    
    {% include "pylucid_comments/includes/comments_list.html" %}
</fieldset>
</div>
{% endblock content %}