{% extends "admin/base_site.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
jQuery(document).ready(function($) {
    // activate that the form can be submit via Ctrl-S (function defined in pylucid_js_tools.js)
    bind_form_keypress($("#edit_blog_entry_form"), auto_title="{% trans 'save with Ctrl-S, too.' %}");
});
</script>
{% endblock extrahead %}

{% block content %}
<form action="{{ form_url }}" method="post" id="edit_blog_entry_form" class="pylucid_form"> 
    {% include "admin/pylucid/includes/default_pylucid_form.html" %}
</form>
{% endblock %}