{% extends "admin/base_site.html" %}

{% block content %}
<fieldset id="preview_fieldset">
<legend>{% trans 'Preview' %}</legend>
<div id="edit_page_preview"></div>
</fieldset>

<fieldset>
<legend>{% trans 'Create a new blog entry' %}</legend>
<form action="{{ form_url }}" method="post" id="edit_page_form">
    <ul id="action_buttons">
        <li>
            <input type="submit" name="save" value="{% trans 'save' %}" />
            <input type="submit" id="preview" name="preview" value="{% trans 'preview' %}" />
            <input onclick="self.location.href='{{ abort_url }}'" name="abort" value="{% trans 'abort' %}" type="reset" />
        </li>
        {% if help_link %}
        <li>
        <a href="{{ help_link }}" title="{% trans 'markup help page' %}">
            <button type="button" class="openinwindow">
            {% trans 'markup help' %}
            </button>
        </a>
        </li>
        {% endif %}
        {% if not use_tinymce %}
        <li>
        <button type="button" class="resize_buttons" onclick="JavaScript:resize_big(); return false" title="{% trans 'makes the textarea bigger' %}">
            +
        </button>
        <button type="button" class="resize_buttons" onclick="JavaScript:resize_small(); return false" title="{% trans 'makes the textarea smaller' %}">
            -
        </button>
        </li>
        {% endif %}
    </ul>
    
    <hr class="seperator" /> 

    <ul id="input_fields">
        {% for field in form %}
            
            <li title="{{ field.help_text }}" class="{{ field.html_name }}">
            <label for="{{ field.auto_id }}">
            {% if field.field.required %}<strong>{{ field.label }}</strong>{% else %}{{ field.label }}{% endif %}
             :</label>
            {{ field }}
            <span class="field_help_text">{{ field.help_text|safe }}</span>
            {% if field.errors %}<li class="field_errors" title="'{{ field.label }}' field error.">{{ field.errors }}</li>{% endif %}
        </li>
        {% endfor %}
    </ul>


</form>
</fieldset>
{% endblock %}