{% extends template_name %}

{% block content %}
<div class="{{ CSS_PLUGIN_CLASS_NAME }} blog_feed">
<h2>{% trans "Please select syndication feed format:" %}</h2>
<ul>
{% for feed in feeds %}
    <li>
        <a href="{% url Blog-feed feed.filename %}">{% url Blog-feed feed.filename %}</a>
        <small>(
        {% if feed.filename == "feed.rss" %}
            <a href="{% trans "http://en.wikipedia.org/wiki/RSS" %}">Really Simple Syndication</a> v2.01rev2
        {% endif %}
        {% if feed.filename == "feed.atom" %}   
            <a href="{% trans "http://en.wikipedia.org/wiki/Atom_(standard)" %}">Atom Syndication Format</a> v1.0
        {% endif %}
        )
        </small>
    </li>    
{% endfor %}
</lu>
</div>
{% endblock content %}