{% extends template_name %}
{% load comments %}

{% block content %}
<div class="{{ CSS_PLUGIN_CLASS_NAME }} blog">
{% include "blog/includes/tagcloud.html" %}

{% if not entries %}no blog entry exists{% endif %}
{% for entry in entries %}
<fieldset class="entry">
    <legend class="headline">
         <a href="{{ entry.get_absolute_url }}">{{ entry.headline }}<br />
         <small class="headline_info">{% blocktrans with entry.createtime|timesince as time %}Before {{ time }} published by{% endblocktrans %} {{ entry.createby }}.</small>
         </a>
    </legend>
    {% if not entry.is_public %}
        <p class="admin_info_line">not public</p>
    {% endif %}

    <div class="admin_links">
    {% if entry.edit_url %}
        <a href="{{ entry.edit_url }}" title="edit this blog entry">edit</a>
    {% endif %}
    {% if entry.delete_url %}
        <a href="{{ entry.delete_url }}" title="delete this blog entry" onClick="return confirm('{% trans 'Do you really want to delete the entry?' %}');">{% trans 'delete' %}</a>
    {% endif %}
    </div>

    <div class="content">{{ entry.get_html }}</div>

    <small><p class="date_info">
        {% if entry.lastupdateby %}(Last update: {{ entry.lastupdatetime|date:_("DATETIME_FORMAT") }} by {{ entry.lastupdateby }}.){% endif %}
    </p></small>

   {% include "blog/includes/taglist.html" %}

   {% get_comment_count for entry as comment_count %}            
   <a href="{{ entry.get_absolute_url }}" class="comment_link" title="Display all comments | Leave a comment">{{ comment_count }} comment{{ comment_count|pluralize:"s" }}...</a>

</fieldset>
{% endfor %}
</div>
{% endblock content %}