<ul>
{% for node in nodes %}
    {% if node.pagemeta %}
    <li>
        <a href="{{ node.pagemeta.get_absolute_url }}" title="{{ node.pagemeta.get_title }}" class="level_{{ node.level }}">{{ node.pagemeta.get_name }}</a>
        {% for other_lang in node.pagemeta.get_other_languages %}
            {% if forloop.first %}(other languages:{% endif %}
            {% if not forloop.first %}|{% endif %}
            <a href="{{ other_lang.get_absolute_url}}" title="{{ other_lang.lang.description }}: {{ other_lang.get_title }}">{{ other_lang.lang.code }}</a>
            {% if forloop.last %}){% endif %}
        {% endfor %}
	    
	    {% with node.subnodes as nodes %}
	       {% if nodes %}<ul>
	       {% include "SiteMap/SiteMap_items.html" %}
	       </ul>{% endif %}
	    {% endwith %}
    </li>
    {% endif %}
{% endfor %}
</ul>