<fieldset><legend>
{% for dir in dir_links %}<a href="{{ dir.link }}">{{ dir.name }}</a>/{% endfor %}
</legend>


{% if deldir  %}
<form  method="post" action="{{ url }}">
<input type="hidden" name="dir_string"  value="{{ dir }}"></input>
<input type="hidden" name="file_string"  value=""></input>
<input type="hidden" name="action"  value="deldir"></input>
<input type="submit" name="dirbut" value="Delete" onclick="return confirm('Are you sure?')"/>
</form>
{% endif %}


<table summary="Directory Listing" cellpadding="0" cellspacing="0">
<thead><tr>
    <th class="n">Name</th>
    <th class="s">Size</th>
    <th class="m">Last Modified</th>
    <th class="t">Action</th>
</tr></thead>

{% for dir in dir_list %}
<tr>
    <td class="n"><a href="{{ dir.dir_link }}">/{{ dir.name }}/</a></td>
    <td class="s"><i>&lt;dir&gt;</i></td>
    <td class="m">{{ dir.time }}</td>
    <td class="t">
    </td>
</tr>
{% endfor%}

{% for file in files_list %}
<tr>
    <td class="n"><a href="{{ media_url }}{{ dir }}/{{ file.name }}">{{ file.name }}</a></td>
    <td class="m">{{ file.size|filesizeformat }}</td>
    <td class="s">{{ file.time }}</td>
    <td class="t">
      <form  method="post" id="fld{{ forloop.counter0 }}" action="{{ url }}">
       <input type="hidden" name="dir_string"  value="{{ dir }}"></input>
       <input type="hidden" name="file_string"  value="{{ file.name }}"></input>
       <input type="hidden" name="action"  value="del"></input>
       <input type="submit" name="delbu" value="delete"
            onclick="return confirm('Are you sure, to delete the file [{{ file.name }}] ?')"
       />
      </form>
    </td>
</tr>
{% endfor %}

</tbody>
</table>

<p>
<form method="post" action="{{ url }}" enctype="multipart/form-data">
    <input type="hidden" name="dir_string"  value="{{ dir }}"></input>
    <input type="hidden" name="file_string"  value=""></input>
    <input type="file" id="ufile" name="ufile" value="" />
    <input type="submit" name="filesubmit" value="Upload" />
</form>
</p>

<p>
<form method="post" action="{{ url }}">
    <input type="hidden" name="action"  value="mdir"></input>
    <input type="hidden" name="dir_string"  value="{{ dir }}"></input>
    <input type="text"   name="file_string" value="" />
    <input type="submit" name="filesubmit" value="Create Dir" />
</form>
</p>
</fieldset>