local_settings.py
*.py[co]
*.log
*~
*.egg-info
/dist
/build
*.db3
/pylucid_project/static/PyLucid/headfile_cache
/pylucid_project/static/PyLucid_cache
/pylucid_project/external_plugins/**
.pydevproject
/.settings