# War früher für poormansmodrewrite. Aber das gibt es ab der v0.7
# nicht mehr!
# http://httpd.apache.org/docs/2.0/mod/core.html#errordocument
#ErrorDocument 404 /index.py


# Sollte auf der verwedeten Handler zeigen, damit die URL auch ohne
# den Dateinamen funktioniert.
# http://httpd.apache.org/docs/2.0/mod/mod_dir.html#directoryindex
#DirectoryIndex PyLucid_CGI_Handler.py

# Damit allgemein CGI's ausgeführt werden
# http://httpd.apache.org/docs/2.0/mod/core.html#options
Options +ExecCGI

# Damit Python-Skripte auch außerhalb von /cgi-bin/ ausgeführt
# werden.
# Allerdings kann es vorkommen, das dennoch Python-Skripte außerhalb von
# cgi-bin nicht richtig funktionieren, siehe auch:
# http://www.python-forum.de/topic-6484.html
#
# http://httpd.apache.org/docs/2.0/mod/mod_mime.html#addhandler
AddHandler cgi-script .py

# Sehr wichtig! Damit niemand einfach per URL das install-Passwort
# vom Apache angezeigt bekommt!
<Files install_lock.txt>
    Deny from all
</Files>
