include AUTHORS LICENSE README.creole MANIFEST.in requirements.txt
recursive-include * *.html *.css *.js
recursive-include pylucid/requirements *
prune pylucid_project/pylucid_plugins/unittest_plugin
recursive-exclude * *.py[co]
