#
# https://requires.io/github/jedie/PyLucid/requirements/
#

# Python packages
#-----------------

# https://python-pillow.org/
# https://pypi.org/project/Pillow/
# https://pillow.readthedocs.io/en/latest/releasenotes/index.html
pillow

# http://pygments.org/
# https://pypi.org/project/Pygments
Pygments

# Flup is not Python 3 compatible.
# http://trac.saddi.com/flup
# https://pypi.org/project/flup
# needed, for fastCGI usage
#flup>=1.0.2,<1.1
#
# Use FlipFlop, a fork of flup:
# https://github.com/Kozea/flipflop
# https://pypi.org/project/flipflop/
#flipflop>=1.0.0,<1.1


# Django packages
#----------------

# http://www.djangoproject.com/
# https://pypi.org/project/Django
# Note: Version must also updated in pylucid.pylucid_admin.VERSION_PREFIXES !
Django<2.0

# https://github.com/django-debug-toolbar/django-debug-toolbar
django-debug-toolbar

# https://github.com/django-compressor/django-compressor
# https://django-compressor.readthedocs.io/en/latest/changelog/
django-compressor

# https://github.com/etianen/django-reversion
# v2 is not supported, see: https://github.com/divio/django-cms/issues/5441
# djangocms-history seems to be not a complete replacement :(
#django-reversion>=1.10,<2.0


# Django CMS packages
#--------------------

# http://www.django-cms.org/
# https://pypi.org/project/django-cms/
# http://docs.django-cms.org/en/latest/upgrade/
# Note: Version must also updated in pylucid.pylucid_admin.VERSION_PREFIXES !
django-cms<3.5

# https://pypi.org/project/djangocms-text-ckeditor/
# https://github.com/divio/djangocms-text-ckeditor
djangocms-text-ckeditor>=3.6.0


# https://github.com/kapt-labs/djangocms-htmlsitemap
djangocms-htmlsitemap


# https://github.com/divio/djangocms-history
# Seems to be not a complete replacement for django-reversion :(
djangocms-history


# django-filter
#--------------
# https://github.com/stefanfoulis/django-filer/
django-filer

# TODO: Replace this with https://github.com/divio/djangocms-link
# http://docs.django-cms.org/en/latest/topics/commonly_used_plugins.html#deprecated-addons
# see also:
# https://github.com/nephila/djangocms-blog/issues/431
# https://github.com/divio/django-cms/issues/6198#issuecomment-352729551
cmsplugin-filer


# Django-CMS-Blog
#-----------------
# https://github.com/nephila/djangocms-blog/blob/develop/setup.py
# https://pypi.org/project/djangocms-blog
#-e git+https://github.com/jedie/djangocms-blog.git#egg=djangocms-blog
djangocms-blog
