.blog fieldset {
  padding: 0.2em 0em 0.5em 1em;
  margin: 0px;
  margin-top: 5px;
  border: 0px;
  border-top: 1px solid #777;
}
.blog legend {
  font-size: 0.9em;
  border: 1px solid #333;
  background-color: #FFF;
  padding: 0.2em 1em 0.2em 1em;
  margin: 0px;
  margin-left: 1em;
}
/* -------------------------------------------------------------------------- */
.blog fieldset.entry {
  background-color: #fff;
  margin: 1em 0 1em 0;
  padding: 0;
}
.blog .headline {
  background-color: #f5f5f5;
}
.blog .headline a {
  text-decoration: none;
}
.blog fieldset.entry, .blog .headline {
  border: 1px solid #888;
}
.content, .comment_link {
  padding: 0.1em 0.5em 0.1em 0.5em;
}
/* -------------------------------------------------------------------------- */
.blog .action_link, .blog .admin_info_line {
  color: #fff;
  display:block;
  background-color: #09C;
}
.blog .admin_info_line {
  text-align: center;
  background-color: #33CC99;
}
/* -------------------------------------------------------------------------- */
.dateinfo, .admin_links {
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  text-align: right;
}
.admin_links {
  float:right;
}
.admin_links a {
  color: #fff;
  padding: 2px;
  margin: 1px;
  background-color: #09C;
}
/* -------------------------------------------------------------------------- */
.blog fieldset.taglist {
  background-color: #eee;
}
.dateinfo {
  color: #666;
}
.blog .taglist {
  text-decoration: none;
  font-size: 0.9em;
}
.blog .taglist a:hover {
  text-decoration: underline;
}
/* -------------------------------------------------------------------------- */
.comment_link {
  display: block;
  border: 0px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
/* -------------------------------------------------------------------------- */
.comments li {
  list-style: none;
}
.comments ul {
  padding-left: 0px;
}
.comment {
  border: 0px;
  padding: 0px;
  margin: 0px;
  margin-top: 1em;
}
.user_comment * {
  background-color: #e0e0e0;
}
.anonymous_comment * {
  background-color: #f5f5f5;
}
.comment legend {
  padding: 1px;
  border: 0px;
  margin-left: 2em;
  padding: 0em 2em 0em 2em;
}
.comment pre {
  font-size: 1.2em;
  border: 0px;
  padding: 5px;
  margin: 0px;
}
.comment .admin_info_line {
  color:red;
  line-height: 0px;
}
/* -------------------------------------------------------------------------- */
#input_fields {
    list-style-type:none;
    padding: 0px;
}
#input_fields label {
    font-size: 0.9em;
}
#input_fields .field_help_text {
    font-size:0.9em;
    display: block;
    padding-left: 9em;
}
#input_fields label {
    float: left;
    padding-right: 4px;
    text-align: right;
    width: 9em;
}
#input_fields input, #input_fields select {
    width: 35%;
}
#input_fields .bigger {
    /* make some text input fields bigger e.g. keywords,description */
    width: 75%;
}
#input_fields .errorlist {
    /* newforms errors */
    border: 1px solid red;
}
/* -------------------------------------------------------------------------- */
.feeds ul, .feeds * {
  list-style-type:none;
  padding: 0px;
  margin: 0px;
}
.feeds, .feeds li {
  display:inline;
}
/* -------------------------------------------------------------------------- */