.blog * {
    padding: 0px;
    margin: 0px;
}
.entry {
    background-color: #fff;
    margin: 1em 0 1em 0;
}
.headline {
    background-color: #f5f5f5;
    padding: 0.5em;
    margin-left: 1em;
}
.entry, .headline {
    border: 1px solid #888;
}
.headline {
    padding: 0 0.5em 0 0.5em;
    font-size: 1.5em;
}
.content {
    margin: 0.1em 0.5em 0.1em 0.5em;
}
/* -------------------------------------------------------------------------- */
.action_link {
    color: #fff;
    display:block;
    background-color: #09C;
}
/* -------------------------------------------------------------------------- */
.dateinfo, .admin_links {
    text-align: right;
}
.admin_links {
    float:right;
}
.admin_links a {
    color: #fff;
    padding: 2px;
    margin: 1px;
    background-color: #09C;
}
/* -------------------------------------------------------------------------- */
.taglist {
    border: 0px;
    border-top: 1px solid #aaa;
    padding: 0.5em;
    font-size: 0.8em;
}
.taglist legend {
    border: 1px solid #aaa;
}
.taglist, .taglist legend {
    background-color: #eee;
}
.taglist legend, .dateinfo {
    color: #666;
}
.taglist a {
  text-decoration: none;
}
.taglist a:hover {
  text-decoration: underline;
}
/* -------------------------------------------------------------------------- */




