{% extends "admin/base_site.html" %}

{% block content %}
<form action="{{ form_url }}" method="post" id="lexicon_form" class="pylucid_form">
{% if not sites|length_is:"1" %}
    <p><small>(The new lexicon entry will be create on site: '<strong>{{ current_site }}</strong>'.)</small></p>
{% endif %}
<ul id="action_buttons">
    <li>
        <input type="submit" name="save" value="{% trans 'save' %}" />
        <input type="reset" class="button" name="abort" value="{% trans 'abort' %}" />
    </li>
</ul>

{% include "admin/pylucid/includes/form_fieldset_errorlist.html" %}

<fieldset>
    <h2 class="form_collapse">Plugin Page</h2>
    {% include "admin/pylucid/includes/pylucid_formset.html" %}
</fieldset>

</form>
{% endblock %}
