{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<!-- pylucid admin menu extrahead block start -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ PyLucid_media_url }}superfish/superfish-vertical.css" />
<!-- pylucid admin menu extrahead block end -->
{% endblock %}

{% block content %}
TODO: Get a list of all existing plugin.admin_url patterns and use it to build the menu!
<ul class="sf-menu sf-vertical sf-js-enabled sf-shadow">
	{# TODO: {% lucidTag admin_menu.panel_extras %} #}
    <li>
        <a href="#a">menu item</a>
        <ul>
            <li>
                <a href="#aa">menu item</a>
            </li>
            <li>
                <a href="#">menu item</a>
            </li>
            <li>
                <a href="#">menu item</a>
            </li>
            <li>
                <a href="#">menu item</a>
            </li>
        </ul>

    </li>
    <li>
        <a href="#">menu item</a>
    </li>
    <li>
        <a href="#">menu item</a>
        <ul>
            <li>
                <a href="#aa">menu item</a>
            </li>
            <li>
                <a href="#">menu item</a>
            </li>
            <li>
                <a href="#">menu item</a>
            </li>
            <li>
                <a href="#">menu item</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">menu item</a>
    </li>   
</ul>
{% endblock %}