<h3>Info</h3>
<p>
  Here you can change the default Pygments style.<br />
  This is everywhere used for code hightlighting.
</p>

<p>Please select:</p>

<ul>
{% for style in styles %}
  <li>
     <a href="{{ style.url }}">
     {% if style.name equals selected_style %}
        <strong title="selected">{{ style.name }}</strong>
     {% else %}
        {{ style.name }}
     {% endif %}
     </a>
     {% if style.name equals default_style %}
        (the default style)
     {% endif %}
  </li>
{% endfor %}
</ul>

<fieldset><legend>save?</legend>
  {% if selected_style equals default_style %}
    [this is the default style]
  {% else %}
    <form method="post" action="{{ url }}">
      <input name="style" type="hidden" value="{{ selected_style }}">
      Use '{{ selected_style }}' as the default pygments style? <input type="submit" value="save" name="save" />
    </form>
  {% endif %}
</fieldset>


<h2>preview</h2>
<p>
  This is the stylesheet '{{ selected_style }}' himself highlighted:
</p>
{{ style_code }}