<fieldset><legend>
{% for dir in dir_links %}<a href="{{ dir.link }}" title="{{ dir.title }}">{{ dir.name }}</a>/{% endfor %}
</legend>

<table summary="Directory Listing" cellpadding="0" cellspacing="0">
<thead><tr>
    <th class="n">Name</th>
    <th class="s">Size</th>
    <th class="m">Last Modified</th>
    <th class="o">mode</th>
    <th class="u">uid</th>
    <th class="g">gid</th>
    <th class="t">Action</th>
</tr></thead>

{% for item in dir_list %}
<tr>
    <td class="n">
      <a href="{{ item.link }}" title="{{ item.title }}">
        {% if item.is_dir %}/{{ item.name }}/{% else %}{{ item.name }}{% endif %}
      </a>
    </td>
    {% if item.is_dir %}
        <td class="s"><i>&lt;dir&gt;</i></td>
    {% else %}
        <td class="s">{{ item.size|filesizeformat }}</td>
    {% endif %}
    <td class="m">{{ item.time }}</td>
    <td class="o">{{ item.mode }}</td>
    <td class="u">{{ item.uid }}</td>
    <td class="g">{{ item.gid }}</td>
    <td class="t">
      {% if item.deletable %}
      <form  method="post" id="fld{{ forloop.counter0 }}" action="{{ url }}">
       <input type="hidden" name="dir_string"  value="{{ dir }}"></input>
       <input type="hidden" name="filename"  value="{{ item.name }}"></input>
       {% if item.is_dir %}
           <input type="hidden" name="action"  value="deldir"></input>
           <input type="submit" name="deldir" value="delete"
                onclick="return confirm('Are you sure, to delete the directory [{{ item.name }}] ?')"
           />
       {% else %}
           <input type="hidden" name="action"  value="del"></input>
           <input type="submit" name="delbu" value="delete"
                onclick="return confirm('Are you sure, to delete the file [{{ item.name }}] ?')"
           />
       {% endif %}
      </form>
      {% endif %}
    </td>
</tr>
{% endfor%}

</tbody>
</table>

{% if writeable %}
    <p>
    <form method="post" action="{{ url }}" enctype="multipart/form-data">
        <input type="hidden" name="dir_string"  value="{{ dir }}"></input>
        <input type="hidden" name="filename"  value=""></input>
        <input type="file" id="ufile" name="ufile" value="" />
        <input type="submit" name="filesubmit" value="Upload" />
    </form>
    </p>

    <p>
    <form method="post" action="{{ url }}">
        <input type="hidden" name="action"  value="mdir"></input>
        <input type="hidden" name="dir_string"  value="{{ dir }}"></input>
        <input type="text"   name="filename" value="" />
        <input type="submit" name="filesubmit" value="Create Dir" />
    </form>
    </p>
{% else %}
    <p><i>{% trans 'Current directory is not writeable.' %}</i></p>
{% endif %}
</fieldset>
<p>{% trans 'Display some' %} <a href="{{ userinfo_link }}">user information</a>.</p>