.filemanager {
    font-family: "Courier New", Courier, monospace;
    font-size:0.9em;
}
.filemanager input, .filemanager button {
    font-size: 0.9em;
    border: 1px solid black;
    padding: 0px;
    margin: 1px;
}
.filemanager legend {
    border: 1px solid black;
    padding: 0.1em 1em 0.1em 1em;
    margin: 0px;
    background: white;
}
.filemanager a {
    text-decoration: none;
}
.filemanager .n a, .filemanager .n a:active {
    color: blue;
}
.filemanager .n a:visited {
    color: #48468F;
}
.filemanager .n a:hover, .filemanager .n a:focus {
    text-decoration: underline;
}
.filemanager table {
    margin-left: 12px;
}
.filemanager th, .filemanager  td {
    text-align: left;
}
.filemanager th {
    text-align: center;
    font-size:0.85em;
    font-weight: bold;
    padding-right: 14px;
    padding-bottom: 3px;
}
.filemanager td {
    padding-right: 20px;
}
.filemanager td.s, .filemanager td.m {
    text-align: right;
}
.filemanager .o, .filemanager .u, .filemanager .g {
    /* mode + uid + gid */
    font-size:0.8em;
    font-weight:lighter;
}