html, body {
  margin:0px;
  padding:0px;
  font-family: tahoma, arial, sans-serif;
  color: #000;
}
html {
  margin:20px;
  background-color: #C9C573;
  border:1px solid black;
}
#content {
  padding:20px;
  background-color: #FFFFE5;
  font-size: 0.9em;
}
pre {
  border:1px solid grey;
  background-color: white;
}
.big_hr {
  border:5px solid gray;
  margin-top: 7em;
}

/* ----------------------------------------------------------------------------
PyKleur Sourcecode highlighter
------------------------------------------------------------------------------- */
fieldset.syntax, fieldset.syntax * {
  background-color: white;
  padding: 0;
  border: 0;
  font-size: 1em;
}
fieldset.syntax, legend.syntax {
  padding: 1px;
  border: 1px solid #d0d0d0;
}
legend.syntax {
  /* fieldset legend, the sourcecode type */
  font-family: Courier New,Courier,monospace,mono;
  margin-left: 5px;
  background-color: white;
  color: black;
  font-size: 0.8em;
  padding: 2px;
}
div.highlight, td.linenos pre, td.code pre {
  padding: 0px;
  margin: 0px;
}
td.linenos pre {
  /* line number block */
  background-color: #f5f5f5;
  color: #aaa;
  padding: 0px 5px 0px 1em;
}

/* automatic generatet! Look at PyLucid/system/page_parser.py */
.syntax .c   { color: #60a0b0; font-style: italic  }  /* Comment */
.syntax .err { border: 1px solid #FF0000           }  /* Error */
.syntax .k   { color: #007020; font-weight: bold   }  /* Keyword */
.syntax .o   { color: #666666                      }  /* Operator */
.syntax .cp  { color: #007020                      }  /* Comment.Preproc */
.syntax .gd  { color: #A00000                      }  /* Generic.Deleted */
.syntax .ge  { font-style: italic                  }  /* Generic.Emph */
.syntax .gr  { color: #FF0000                      }  /* Generic.Error */
.syntax .gh  { color: #000080; font-weight: bold   }  /* Generic.Heading */
.syntax .gi  { color: #00A000                      }  /* Generic.Inserted */
.syntax .go  { color: #808080                      }  /* Generic.Output */
.syntax .gp  { color: #c65d09; font-weight: bold   }  /* Generic.Prompt */
.syntax .gs  { font-weight: bold                   }  /* Generic.Strong */
.syntax .gu  { color: #800080; font-weight: bold   }  /* Generic.Subheading */
.syntax .gt  { color: #0040D0                      }  /* Generic.Traceback */
.syntax .kp  { color: #007020                      }  /* Keyword.Pseudo */
.syntax .kt  { color: #007020; font-weight: bold   }  /* Keyword.Type */
.syntax .m   { color: #40a070                      }  /* Literal.Number */
.syntax .s   { color: #4070a0                      }  /* Literal.String */
.syntax .na  { color: #4070a0                      }  /* Name.Attribute */
.syntax .nb  { color: #007020                      }  /* Name.Builtin */
.syntax .nc  { color: #0e84b5; font-weight: bold   }  /* Name.Class */
.syntax .no  { color: #60add5                      }  /* Name.Constant */
.syntax .nd  { color: #555555; font-weight: bold   }  /* Name.Decorator */
.syntax .ni  { color: #d55537; font-weight: bold   }  /* Name.Entity */
.syntax .ne  { color: #007020                      }  /* Name.Exception */
.syntax .nf  { color: #06287e                      }  /* Name.Function */
.syntax .nl  { color: #002070; font-weight: bold   }  /* Name.Label */
.syntax .nn  { color: #0e84b5; font-weight: bold   }  /* Name.Namespace */
.syntax .nt  { color: #062873; font-weight: bold   }  /* Name.Tag */
.syntax .nv  { color: #bb60d5                      }  /* Name.Variable */
.syntax .ow  { color: #007020; font-weight: bold   }  /* Operator.Word */
.syntax .sd  { color: #4070a0; font-style: italic  }  /* Literal.String.Doc */
.syntax .se  { color: #4070a0; font-weight: bold   }  /* Literal.String.Escape */
.syntax .si  { color: #70a0d0; font-style: italic  }  /* Literal.String.Interpol */
.syntax .sx  { color: #c65d09                      }  /* Literal.String.Other */
.syntax .sr  { color: #235388                      }  /* Literal.String.Regex */
.syntax .ss  { color: #517918                      }  /* Literal.String.Symbol */