<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>tinyTextile help</title>
{{ add_data_tag }}
</head>
<body>
<h1>tinyTextile help</h1>
  {% if messages %}
    <fieldset id="page_msg"><legend>page message</legend>
    {% for message in messages %}
      {{ message }}<br />
    {% endfor %}
    </fieldset>
  {% endif %}

<div id="content">

h1. headlines

headlines are introduced with 'h1.':

<pre>
h1. h-1 headline

h2. h-2 headline
</pre>

Result:

h1. h-1 headline

h2. h-2 headline

(Important: one blank line under the headline!)

<hr class="big_hr" />

h1. Text formatting

<pre>
I am a --small-- word with &lt;small&gt; tag.
This is a *fat* word with &lt;strong&gt; tag.
</pre>

Result:

I am a --small-- word with ==<small>== tag.
This is a *fat* word with ==<strong>== tag.

<hr class="big_hr" />

h1. Links

Links according in the following pattern:

<pre>"LinkText":URL</pre>

examples:
<pre>
http://exampledomain.dtl
ftp://exampledomain.dtl
mailto:name@exampledomain.dtl
http://www.python-forum.de
or better: "Das deutsche Python-Forum":http://www.python-forum.de
This is a link, too: "Link":?#unten
Wiki like, internal PyLucid links: [[ExamplePageName]]
</pre>

Result:
http://exampledomain.dtl
ftp://exampledomain.dtl
mailto:name@exampledomain.dtl
http://www.python-forum.de
or better: "Das deutsche Python-Forum":http://www.python-forum.de
This is a link, too: "Link":?#unten
Wiki like, internal PyLucid links: [[ExamplePageName]]

<hr class="big_hr" />

h1. List

You can make ==<ul>== liste with "*" and ==<ol>== list with "#".
Note: You can't mixed this list types ;)

examples:

<pre>
normal list:
* Lorem ipsum dolor sit amet
** consectetuer adipiscing elit
**** sed diam nonummy nibh
**** euismod tincidunt ut laoreet
** dolore magna aliquam erat volutpat.

numbered list:
# Lorem ipsum dolor sit amet
## consectetuer adipiscing elit
#### sed diam nonummy nibh
#### euismod tincidunt ut laoreet
## dolore magna aliquam erat volutpat.
</pre>

Result:

normal list:
* Lorem ipsum dolor sit amet
** consectetuer adipiscing elit
**** sed diam nonummy nibh
**** euismod tincidunt ut laoreet
** dolore magna aliquam erat volutpat.

numbered list:
# Lorem ipsum dolor sit amet
## consectetuer adipiscing elit
#### sed diam nonummy nibh
#### euismod tincidunt ut laoreet
## dolore magna aliquam erat volutpat.

<hr class="big_hr" />

h1. Bilder

Ein HTML-img-Tag wird erzeugt, wenn eine Adresse mit einem "!"-Zeichen
umschlossen ist.

<pre>
!http://images.sourceforge.net/images/project-support.jpg!
!/favicon.ico!
!http://domain.tld/pics/ich werde zu keiner URL weil hier leerzeichen sind.jpg!
</pre>

Result:

!http://images.sourceforge.net/images/project-support.jpg!
!/favicon.ico!
!http://domain.tld/pics/ich werde zu keiner URL weil hier leerzeichen sind.jpg!

<hr class="big_hr" />

h1. Embed Python SourceCode

Put sourcecode between ==<python>== tag. Note: The start and end tag must be located alone in a line!

example:

==
<python>
#!/usr/bin/python
# -*- coding: UTF-8 -*-

"""Ein kleines Skript"""

print "Hello Word: I love Python!"
</python>
==

Result:
<python>
#!/usr/bin/python
# -*- coding: UTF-8 -*-

"""Ein kleines Skript"""

print "Hello Word: I love Python!"
</python>


<hr class="big_hr" />

h1. Embed source code generally

With the ==<code=ext>== Tag you can highlight everything, which offers Pygments.
'ext' is the file extension.

examples:

==
<code=php>
<?php
$conn_id = ftp_connect($ftp_server);
?>
</code>
<code=css>
body {
  color: black;
}
</code>
==

Result:

<code=php>
<?php
$conn_id = ftp_connect($ftp_server);
?>
</code>
<code=css>
body {
  color: black;
}
</code>

<hr class="big_hr" />

h1. Escaping

Text inner two "="-chars would be escaped.

example:
--------
========
Table: <table width="90%" border="0" align="center">
Link: <a href="URL">txt</a>
Input: <input type="submit" value="preview" />
========

It goes also within a flow text:
Here ist no Link: ========<a href="URL">txt</a>======== nice?

<hr class="big_hr" />

h1. pre-Formarted-Text

You can use the ==<pre>== tag. tinyTextile ingnore the Markup in the area.

<pre>
Example:
---------
h2. Not a textile headline
<h3>Manuelly h3 headline with html tags</h3>
* This is not a...
* ...textile list
</pre>

<hr class="big_hr" />

h1. HTML-Code

You can insert any HTML code directy in you page. tinyTextile ingnore it.

</div>
<!-- script_duration -->
</body></html>