<div id="the_menu">
{% if backward_page %}
    <a href="{{ backward_page.get_absolute_url }}" class="the_menu" title="&lt;&lt; {{ backward_page.get_verbose_title }}">&lt;&lt; {{ backward_page.name }}</a>
    |
{% endif %}
    <a href="{{ current_page.get_absolute_url }}" class="current_page" title="{{ current_page.get_verbose_title }}">{{ current_page.name }}</a>
{% if forward_page %}
    | <a href="{{ forward_page.get_absolute_url }}" class="the_menu" title="{{ forward_page.get_verbose_title }} &gt;&gt;">{{ forward_page.name }} <span class="back_forth">&gt;&gt;</span></a>
{% endif %}
</div>

{% if backward_page %}
<a href="{{ backward_page.get_absolute_url }}" id="backward_link" title="&lt;&lt; {{ backward_page.get_verbose_title }}">
    <span class="back_forth">&lt;&lt;</span>
</a>
{% endif %}
{% if forward_page %}
<a href="{{ forward_page.get_absolute_url }}" id="forward_link" title="{{ forward_page.get_verbose_title }} &gt;&gt;">
    <span class="back_forth">&gt;&gt;</span>
</a>
{% endif %}