<ul class="sf-menu">

    {% if not inline %}
        {# we are in the django admin panel #}
	    <li class="current">
	        <a href="/" title="<< goto {{ current_site.name }} root page">&lt;&lt; {{ current_site.domain }}</a>
	    </li>
	    {% if not sites|length_is:"1" %}
	    <li>
	        <a>{% trans 'switch site' %}</a>
	        <ul>
	        {% for site in sites %}
	          <li>
	            {% ifequal site current_site %}
	                <strong> 
	                <a href="http://{{ site.domain }}{{ request.path }}" class="current_site" title="current used site">{{ site.name }}</a>
	                </strong>
	            {% else %}
	                <a href="http://{{ site.domain }}{{ request.path }}">{{ site.name }}</a>
	            {% endifequal %}
	           </li>
	        {% endfor %}
	        </ul>
	    </li>
	    {% endif %}
    {% endif %}

    <li>{% lucidTag auth %}</li>
    
    {% if inline %}
    {# is true, if this menu would be included inside the cms page and not in the django admin panel #}
    
	    {% if perms.pylucid.change_pagecontent and perms.pylucid.change_pagemeta %}
	    <li>      
	        <a href="{{ edit_page_link }}" title="edit inline" id="edit_page" onclick="return get_pylucid_ajax_view('{{ edit_page_link }}');">{% trans 'edit page' %}</a>
	        <ul>
	            <li><a href="{{ edit_admin_panel_link }}">edit in admin panel</a></li>
	            <li><a href="{% url admin:pylucid_pagemeta_change pagemeta_id %}">edit meta in admin panel</a></li>
	            {% if perms.pylucid.delete_pageplugin and perms.pylucid.delete_pagecontent and perms.pylucid.delete_pagemeta %}
	               <li><a href="{% url admin:pylucid_pagemeta_delete pagemeta_id %}">delete page</a></li>
	            {% endif %}
	        </ul>
	    </li>
	    {% endif %}
    
    {% endif %}
    
    {% if user.is_staff %}
    <li>
        <a href="{% url admin:index %}">{% trans 'Django admin site' %}</a>
    </li>
    {% endif %}
    
    <li>
        <a href="{% url PyLucidAdmin-menu %}">{% trans 'PyLucid admin menu' %}</a>
        <ul>
            {% if user.is_superuser %}
            <li>
                <a>{% trans 'PyLucid install' %}</a>
                <ul>
                    <li>
                        <a href="{% url PyLucidAdmin-install_pylucid %}">{% trans 'PyLucid install' %}</a>
                    </li>
                    <li>
                        <a href="{% url PyLucidAdmin-install_plugins %}">{% trans 'install PyLucid plugins' %}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url PyLucidUpdate-menu %}">{% trans 'update section' %}</a>
            </li>
            {% endif %}
            {% lucidTag admin_menu.panel_extras %}
        </ul>
    </li>
</ul>