<ul class="sf-menu">

    {% if not inline %}{# we are in the django admin panel #}
	    <li class="current">
	        <a href="/" title="&lt;&lt; goto '{{ current_site.domain }}'">&lt;&lt; {{ current_site.name }}</a>
            {% if not sites|length_is:"1" %}
            <ul>
                {% for site in sites %}
                  <li>
                    {% ifnotequal site current_site %}
                        <a href="http://{{ site.domain }}/" title="&lt;&lt; goto '{{ site.domain }}'">&lt;&lt; {{ site.name }}</a>
                    {% endifnotequal %}
                   </li>
                {% endfor %}
            </ul>
            {% endif %}
	    </li>
    {% endif %}

    <li>{% lucidTag auth %}
    {% if inline %}{# we are inside a cms page and not in the django admin panel #}
        {% if not sites|length_is:"1" %}
        <ul>
            {% for site in sites %}
              <li>
                {% ifnotequal site current_site %}
                    <a href="http://{{ site.domain }}/" title="&lt;&lt; switch to site '{{ site.domain }}'">&lt;&lt; {{ site.name }}</a>
                {% endifnotequal %}
               </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    </li>
    
    {% if inline %}
    {# is true, if this menu would be included inside the cms page and not in the django admin panel #}
    
	    {% if perms.pylucid.change_pagecontent and perms.pylucid.change_pagemeta %}
	    <li>      
	        <a href="{{ edit_page_link }}" title="edit inline" id="edit_page" onclick="return get_pylucid_ajax_view('{{ edit_page_link }}');">{% trans 'edit page' %}</a>
	        <ul>
                {% if perms.pylucid.change_pagetree %}
                   <li><a href="{% url PageAdmin-edit_page PYLUCID.pagetree.id %}">edit all</a></li>
                {% endif %}
                <li>
                    <a title="edit in django admin panel">djano admin</a>
                    <ul>
                    {% if PYLUCID.pluginpage %}
                        {% if perms.pylucid.change_pluginpage %}
                        <li><a href="{% url admin:pylucid_pluginpage_change PYLUCID.pluginpage.id %}">edit plugin page</a></li>
                        {% endif %}
                    {% endif %}
                    {% if PYLUCID.pagecontent %}
                        {% if perms.pylucid.change_pagecontent %}
                        <li><a href="{% url admin:pylucid_pagecontent_change PYLUCID.pagecontent.id %}">edit page content</a></li>
                        {% endif %}
                    {% endif %}

    	            {% if perms.pylucid.change_pagetree %}
    	               <li><a href="{% url admin:pylucid_pagetree_change PYLUCID.pagetree.id %}">edit page tree</a></li>
    	            {% endif %}
    	            {% if perms.pylucid.change_pagemeta %}
    	               <li><a href="{% url admin:pylucid_pagemeta_change PYLUCID.pagemeta.id %}">edit page meta</a></li>
    	            {% endif %}
                    </ul>
                </li>
                
                {% if perms.pylucid.change_design %}
                <li>
                    <a title="edit current style/template in django admin panel">edit current look</a>
                    <ul>
                    {% if perms.pylucid.change_design %}
                        <li><a href="{% url admin:pylucid_design_change PYLUCID.pagetree.design.id %}" title="edit current design '{{ PYLUCID.pagetree.design.name }}'">
                            design
                        </a></li>
                    {% endif %}
                    {% if perms.pylucid.change_design %}
                        <li><a href="{% url admin:pylucid_colorscheme_change PYLUCID.pagetree.design.colorscheme.id %}" title="edit current colorscheme '{{ PYLUCID.pagetree.design.colorscheme.name }}'">
                            colorscheme
                        </a></li>
                    {% endif %}
                    {% if perms.pylucid.change_editablehtmlheadfile %}
                        {% for headfile in PYLUCID.pagetree.design.headfiles.all %}
                        <li><a href="{% url admin:pylucid_editablehtmlheadfile_change headfile.id %}" title="edit headfile '{{ headfile.filepath }}'">
                            {{ headfile.filepath }}
                        </a></li>
                        {% endfor %}
                    {% endif %}
                    {% if perms.dbtemplates.change_template and template %}
                        <li><a href="{% url admin:dbtemplates_template_change template.id %}" title="edit page template '{{ PYLUCID.pagetree.design.template }}'">
                            page template
                        </a></li>
                    {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if add_translate %}
    	            {% if perms.pylucid.add_pagecontent and perms.pylucid.add_pagemeta and perms.pylucid.add_pluginpage %}
    	               <li><a href="{% url PageAdmin-translate PYLUCID.pagemeta.id %}">{% trans 'translate' %}</a></li>
    	            {% endif %}
	            {% endif %}

	            {% if perms.pylucid.change_pagetree %}
	               <li><a href="{% url PageAdmin-page_order PYLUCID.pagetree.id %}">change page order</a></li>
	            {% endif %}
                
	            {% if perms.pylucid.change_pagecontent and PYLUCID.pagecontent.id %}
	               <li><a href="{% url PageAdmin-convert_markup PYLUCID.pagecontent.id %}">convert markup</a></li>
	            {% endif %}

	            {% if perms.pylucid.delete_pageplugin and perms.pylucid.delete_pagecontent and perms.pylucid.delete_pagemeta and perms.pylucid.delete_pagetree %}
	               <li><a href="{% url admin:pylucid_pagetree_delete PYLUCID.pagemeta.id %}">delete page</a></li>
	            {% endif %}
	        </ul>
	    </li>
	    {% endif %}
    
    {% endif %}
    
    {% if user.is_staff %}
    <li>
        <a href="{% url admin:index %}" title="Admin index of '{{ current_site.name }}' site.">{% trans 'Django admin site' %}</a>
        {% if not inline %}{# we are in the django admin panel #}
        {% if not sites|length_is:"1" %}
            <ul>
            {% for site in sites %}
              <li>
                {% ifnotequal site current_site %}
                    <a href="http://{{ site.domain }}{{ request.path }}" title="switch to '{{ site.domain }}' admin site.">{{ site.name }}</a>
                {% endifnotequal %}
               </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endif %}
    </li>
    {% endif %}
    
    <li>
        <a href="{% url PyLucidAdmin-menu %}">{% trans 'PyLucid admin menu' %}</a>
        <ul>
            {% if user.is_superuser %}
            <li>
                <a>PyLucid</a>
                <ul>
                    <li>
                        <a href="{% url PyLucidAdmin-install_pylucid %}">{% trans 'install PyLucid' %}</a>
                    </li>
                    <li>
                        <a href="{% url PyLucidAdmin-install_plugins %}">{% trans 'install plugins' %}</a>
                    </li>
                    <li>
                        <a href="{% url PyLucidUpdate-menu %}">{% trans 'update section' %}</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% lucidTag admin_menu.panel_extras %}
        </ul>
    </li>
</ul>