{% if debug %}<!-- pylucid plugin ./admin_menu/includes/superfish_extrahead.html START -->{% endif %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ PyLucid_media_url }}superfish/superfish.css" onerror="JavaScript:alert('{{ PyLucid_media_url }}superfish/superfish.css');" />
<script type="text/javascript" src="{{ PyLucid_media_url }}superfish/superfish.js" onerror="JavaScript:alert('{{ PyLucid_media_url }}superfish/superfish.js');" ></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ PyLucid_media_url }}superfish/pylucid_superfish.css" onerror="JavaScript:alert('{{ PyLucid_media_url }}superfish/pylucid_superfish.css');" />
<script type="text/javascript" src="{{ PyLucid_media_url }}superfish/pylucid_superfish.js" onerror="JavaScript:alert('{{ PyLucid_media_url }}superfish/pylucid_superfish.js');" ></script>

{# this must be here in the template and can't stored into the css file, because of the url #}
<style type="text/css">
<!--
/* setup superfish background urls */
.sf-sub-indicator {
    background: url('{{ PyLucid_media_url }}superfish/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
.sf-shadow ul {
    background: url('{{ PyLucid_media_url }}superfish/shadow.png') no-repeat bottom right;
}
-->
</style>
{% if debug %}<!-- pylucid plugin ./admin_menu/includes/superfish_extrahead.html END -->{% endif %}