<fieldset><legend>{{ plugin_name }}</legend>
{% if doc %}
<fieldset id="doc"><legend>{% trans 'help' %}</legend><pre>
{{ doc }}
</pre></fieldset>
{% endif %}
<form method="post" action=".">
<ul id="input_fields">
    {% for field in form %}
        <li title="{{ field.help_text }}" class="{{ field.html_name }}">
        <label for="{{ field.auto_id }}">{{ field.label }} :</label>
        {{ field }}
        <span class="field_help_text">{{ field.help_text }}</span>
        {% if field.errors %}<li class="field_errors">{{ field.errors }}</li>{% endif %}
    </li>
    {% endfor %}
</ul>
<input type="submit" name="save" value="{% trans 'save' %}" />
<input onclick="self.location.href='{{ url_abort }}'" name="abort" value="{% trans 'abort' %}" type="reset" />
</form>
</fieldset>