fieldset {
    padding: 3px;
    margin: 3px;
    border: 1px solid #000;
}
legend {
    padding: 2px;
    border: 1px solid #000;
    background-color: #FFF;
}
/* -------------------------------------------------------------------------- */
#page_preview {
    background-color: #EEE;
}
#page_preview, #page_preview legend {
    border-color: #A00;
}
/* -------------------------------------------------------------------------- */
#edit_page_form ul {
    list-style-type:none;
    padding: 0px;
}
#edit_page_form li {
    padding: 4px;
}
/* -------------------------------------------------------------------------- */
#input_fields label, #input_fields input, #input_fields select {
    /* make all fields except the textarea a little bit smaller */
    font-size: 0.8em;
}
#input_fields .field_help_text {
    font-size:0.7em;
}
#input_fields label {
    float: left;
    padding-right: 4px;
    text-align: right;
    width: 9em;
}
#input_fields input, #input_fields select {
    width: 35%;
}

#input_fields .content label, #input_fields .content .field_help_text {
    /* hide label and help_text around the textarea */
    display:none;
}
#input_fields .bigger {
    /* make some text input fields bigger e.g. keywords,description */
    width: 75%;
}
#input_fields .edit_comment .field_help_text,
#input_fields .keywords .field_help_text,
#input_fields .description .field_help_text {
    /* setup the help text for keywords and description */
    /* put the help text for bigger input field in the second line */
    display: block;
    padding-left: 14em;
}
#input_fields textarea, hr.seperator, #action_buttons {
    /* make the space between the action buttons and the text area smaller */
    margin: 0;
    padding: 0;
}
/* -------------------------------------------------------------------------- */
#action_buttons li {
    float: left;
    padding: 5px 10px 5px 10px;
    background-color: #09C;
}
#action_buttons a {
    text-decoration:none;
}
#action_buttons .resize_buttons {
    width: 30px;
}
/* -------------------------------------------------------------------------- */
hr.seperator {
    border: 0;
    height: 0;
    clear: both;
}
.errorlist {
    /* newforms errors */
    border: 1px solid red;
}
