#page_list {
  width: 100%;
  margin: auto;
  table-layout:auto;
}
#page_list a {
  text-decoration:none;
  color: #000;
}
#page_list input {
    /* remove border from all input fields */
    border:0px none;
    margin:0px;
    padding:0px;
    width: 100%;
}
#page_list tr {
  width: 100%
}
#page_list tr td {
    border: 1px solid #fff;
}
#page_list tr:hover td {
    border-color: #aaa;
    background-color: #fff;
}

/* -----------------------------------------------------------------------------
The html page
----------------------------------------------------------------------------- */

html, body {
  margin:0px;
  padding:0px;
  font-family: tahoma, arial, sans-serif;
  color: #000;
}
html {
  margin:20px;
  background-color: #C9C573;
  border:1px solid black;
}
#content {
  padding: 20px;
  background-color: #FFFFE5;
  font-size: 0.9em;
}
pre {
  border:1px solid grey;
  background-color: white;
}
.big_hr {
  border:5px solid gray;
  margin-top: 7em;
}
/* -----------------------------------------------------------------------------
    format_buttons
----------------------------------------------------------------------------- */
#format_buttons {
    list-style-type:none;
    padding: auto;
}
#format_buttons li {
    float: left;
    padding: 5px 10px 5px 10px;
    background-color: #09C;
}
#format_buttons a {
    text-decoration:none;
}
#format_buttons .resize_buttons {
    width: 30px;
}
/* -------------------------------------------------------------------------- */
hr.seperator {
    border: 0;
    height: 0;
    clear: both;
}