<table class="plugin_admin">
    <tr><td class="caption" colspan="7"><h3>not installed</h3></td></tr>
    <tr class="headline">
        <th>plugin/Plugin name</th>
        <th>description</th>
        <th>author</th>
        <th>version</th>
        <th colspan="3">actions</th>
    </tr>

    {% for plugin in uninstalled_plugins %}
        <tr class="{% cycle row1,row2 %}">
            <td class="name">{{ plugin.plugin_name|escape }}</td>
            <td class="description">{{ plugin.description|escape }}</td>
            <td>
                <a class="author" href="{{ plugin.url }}" title="{{ plugin.author }}"></a>
            </td>
            <td class="version">{{ plugin.version }}</td>
            <td>
                {% if plugin.builtin %}
                    <small>[buildin plugin]</small>
                {% else %}
                    <form method="post" action="{{ action_url }}">
                        <input name="plugin_name" type="hidden" value="{{ plugin.plugin_name }}" />
                        <input name="package_name" type="hidden" value="{{ plugin.package_name }}" />
                        <span class="action">
                            &dArr; <input type="submit" value="install" name="install" />
                        </span>
                    </form>
                {% endif %}
            </td>
            <td></td>
        </tr>
    {% endfor %}

    <tr><td class="caption" colspan="7"><h3>registered and unactivated</h3></td></tr>
    <tr class="headline">
        <th>plugin/Plugin name</th>
        <th>description</th>
        <th>author</th>
        <th>version</th>
        <th colspan="3">actions</th>
    </tr>

    {% for plugin in deactive_plugins %}
        <tr class="{% cycle row1,row2 %}">
            <td class="name">{{ plugin.plugin_name|escape }}</td>
            <td class="description">{{ plugin.description|escape }}</td>
            <td>
                <a class="author" href="{{ plugin.url }}" title="{{ plugin.author }}"></a>
            </td>
            <td class="version">{{ plugin.get_version_string }}</td>
            <td>
                {% if plugin.builtin %}
                    <small>[buildin plugin]</small>
                {% else %}
                    <form method="post" action="{{ action_url }}">
                        <input name="id" type="hidden" value="{{ plugin.id }}" />
                        <span class="action">
                            &uArr; <input type="submit" value="deinstall" name="deinstall"
                                onClick="return confirm('{% trans 'Do you really want to deinstall the plugin? All plugin data lost!' %}');"
                                title="delete the plugin with all Data" />
                        </span>
                    </form>
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ action_url }}">
                    <input name="id" type="hidden" value="{{ plugin.id }}" />
                    <span class="action">
                        &dArr; <input type="submit" value="activate" name="activate" />
                    </span>
                </form>
            </td>
        </tr>
    {% endfor %}

    <tr><td class="caption" colspan="7"><h3>acivated</h3></td></tr>
    <tr class="headline">
        <th>plugin/Plugin name</th>
        <th>description</th>
        <th>author</th>
        <th>version</th>
        <th colspan="3">actions</th>
    </tr>

    {% for plugin in active_plugins %}
        <tr class="{% cycle row1,row2 %}">
            <td class="name">{{ plugin.plugin_name|escape }}</td>
            <td class="description">{{ plugin.description|escape }}</td>
            <td>
                <a class="author" href="{{ plugin.url }}" title="{{ plugin.author }}">{{ plugin.author }}</a>
            </td>
            <td class="version">{{ plugin.get_version_string }}</td>
            <td>
                {% if not plugin.can_deinstall %}
                    <small>[locked]</small>
                {% else %}
                    <form method="post" action="{{ action_url }}">
                        <input name="id" type="hidden" value="{{ plugin.id }}" />
                        <span class="action">
                            &uArr; <input type="submit" value="deactivate" name="deactivate" />
                        </span>
                    </form>
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ action_url }}">
                    <input name="id" type="hidden" value="{{ plugin.id }}" />
                    <input type="submit" value="reinit" name="reinit"
                            onClick="return confirm('{% trans 'Do you really want to reinit the plugin? All plugin data lost!' %}');"
                            title="delete the plugin with all Data and install it in one step" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<h4>Info:</h4>
<ul>
  <li><strong>install</strong> - register a plugin/Plugin in the database</li>
  <li><strong>deinstall</strong> - Complete remove the plugin from the database (incl. preferences)</li>
  <li><strong>activate</strong> - enable the plugin (set active flag)</li>
  <li><strong>deactivate</strong> - disable the plugin</li>
</ul>