<a name="top"></a>
<ul id="page_list">
{% for page in page_list %}
    <li>
        <a href="#{{ page.shortcut }}" class="arrow_link"> &#x21E9; </a>
        {% if page.title %}{{ page.title|escape }}{% else %}{{ page.name|escape }}{% endif %}
        <a href="{{ page.url }}" class="arrow_link"> &#x21E8; </a>
    </li>
{% endfor %}
</ul>

<ul id="all_pages">
{% for page in page_list %}
    <li>

        <fieldset>
        <legend>
            <a name="{{ page.shortcut }}"></a>
            <a href="#top" class="arrow_link"> &#x21E7; </a>
            <a href="{{ page.url }}">
            {% if page.title %}{{ page.title|escape }}{% else %}{{ page.name|escape }}{% endif %}
            </a> <a href="#{{ page.shortcut }}" class="anchor_link">#</a>
        </legend>
            {{ page.content }}
        </fieldset>
    </li>
{% endfor %}
</ul>