/* -------------------------------------------------------------------------- */
.blog fieldset {
  background-color: #FFF;
  padding: 0.2em 0em 0.5em 1em;
  margin: 0px;
  margin-top: 5px;
  border: 0px;
  border-top: 1px solid #777;
}
.blog legend {
  font-size: 0.9em;
  border: 1px solid #333;
  background-color: #FFF;
  padding: 0.2em 1em 0.2em 1em;
  margin: 0px;
  margin-left: 1em;
}
/* -------------------------------------------------------------------------- */
.blog fieldset.entry {
  margin: 1em 0 1em 0;
  padding: 0;
}
.blog .headline {
  background-color: #f5f5f5;
}
.blog .headline a {
  text-decoration: none;
}
.blog fieldset.entry, .blog .headline {
  border: 1px solid #888;
}
.blog .content, .blog .comment_link {
  padding: 0.1em 0.5em 0.1em 0.5em;
}
/* -------------------------------------------------------------------------- */
.blog .action_link, .blog .admin_info_line {
  color: #fff;
  display:block;
  background-color: #09C;
}
.blog .admin_info_line {
  text-align: center;
  background-color: #33CC99;
}
/* -------------------------------------------------------------------------- */
.blog .headline_info, .blog .date_info, .blog .admin_links {
  font-size: 0.8em;
  color: #666;
  padding: 0px;
  margin: 0px;
}
.blog .date_info, .blog .admin_links {
  line-height: 0px;
  text-align: right;
}
.blog .admin_links {
  float:right;
}
.blog .admin_links a {
  color: #fff;
  padding: 2px;
  margin: 1px;
  background-color: #09C;
}
/* -------------------------------------------------------------------------- */
.blog fieldset.taglist {
  background-color: #eee;
}
.blog .taglist {
  text-decoration: none;
  font-size: 0.9em;
}
.blog .taglist a:hover {
  text-decoration: underline;
}
/* -------------------------------------------------------------------------- */
.blog .comment_link {
  display: block;
  border: 0px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
/* -------------------------------------------------------------------------- */
.blog .comments li {
  list-style: none;
}
.blog .comments ul {
  padding-left: 0px;
}
.blog .comment {
  border: 0px;
  padding: 0.1em 1em 0.1em 1em;
  margin: 0px;
  margin-top: 1em;
}
.blog .comment legend {
  padding: 1px;
  border: 1px solid #ccc;
  margin-left: 2em;
  padding: 0.1em 1em 0.1em 1em;
}
.blog .comment pre {
  font-size: 1.2em;
  border: 0px;
  padding: 5px;
  margin: 0px;
}
.blog .admin_info_line {
  color:red;
  line-height: 0px;
}
.blog .user_comment, .blog .user_comment legend {
  background-color: #e0e0e0;
}
.blog .anonymous_comment, .blog .anonymous_comment legend {
  background-color: #f5f5f5;
}
/* -------------------------------------------------------------------------- */
#input_fields {
    list-style-type:none;
    padding: 0px;
}
#input_fields label {
    font-size: 0.9em;
}
#input_fields .field_help_text {
    font-size:0.8em;
    display: block;
    padding-left: 11em;
    color: #888;
}
#input_fields label {
    float: left;
    padding-right: 4px;
    text-align: right;
    width: 9em;
}
#input_fields input, #input_fields select {
    width: 35%;
}
#input_fields .bigger {
    /* make some text input fields bigger e.g. keywords,description */
    width: 75%;
}
#input_fields .errorlist {
    /* newforms errors */
    border: 1px solid red;
}
.blog input, .blog textarea {
  border: 1px solid #ccc;
}
.blog input:hover, .blog textarea:hover {
  border-color: #333;
}
/* -------------------------------------------------------------------------- */
.blog .feeds ul, .blog .tag_cloud ul {
  list-style-type:none;
  padding: 0px;
  margin: 0px;
}
.blog .feeds li, .blog .tag_cloud li {
  display: inline;
}
/* -------------------------------------------------------------------------- */