{% if back_url %}<p><a href="{{ back_url }}" class="action_link">&laquo; Display all blog entries</a></p>{% endif %}
{% if create_url %}<p><a href="{{ create_url }}" class="action_link">create a new blog entry</a></p>{% endif %}

{% if not entries %}no blog entry exists{% endif %}
{% for entry in entries %}
    <fieldset class="entry">
        <legend class="headline">
             <a href="{{ entry.detail_url }}">{{ entry.headline }}<br />
             <small class="headline_info">{% blocktrans with entry.createtime|timesince as time %}Before {{ time }} published by{% endblocktrans %} {{ entry.createby }}.</small>
             </a>
        </legend>
        {% if not entry.is_public %}
            <p class="admin_info_line">not public</p>
        {% endif %}

        <div class="admin_links">
        {% if entry.edit_url %}
            <a href="{{ entry.edit_url }}" title="edit this blog entry">edit</a>
        {% endif %}
        {% if entry.delete_url %}
            <a href="{{ entry.delete_url }}" title="delete this blog entry" onClick="return confirm('{% trans 'Do you really want to delete the entry?' %}');">{% trans 'delete' %}</a>
        {% endif %}
        </div>

        <div class="content">{{ entry.html }}</div>

        <small><p class="date_info">
            {% if entry.lastupdateby %}(Last update: {{ entry.lastupdatetime|date:"D d M Y H:i" }} by {{ entry.lastupdateby }}.){% endif %}
        </p></small>

        <fieldset class="taglist"><legend>tags</legend>
        {% for tag in entry.tag_info %}
            {% if not forloop.first %}|{% endif %}
            {% ifequal tag.name current_tag.name %}
                <strong><a href="{{ tag.url }}">{{ tag.name }}</a></strong>
            {% else %}
                <a href="{{ tag.url }}">{{ tag.name }}</a>
            {% endifequal %}
        {% endfor %}
        </fieldset>

        {% if entry.all_comments %}
            <fieldset class="comments"><legend>comments</legend>
            <ul>
            {% for comment in entry.all_comments %}
                <li>
                  <fieldset class="comment {% if comment.createby %}user{% else %}anonymous{% endif %}_comment">
                    <legend class="headline">
                      {% if comment.homepage %}<a href="{{ comment.homepage }}" title="{{ comment.homepage }}">{% endif %}
                        {{ comment.person_name }}
                        {% if comment.homepage %}</a>{% endif %}<br />
                        <small class="headline_info">
                          {% blocktrans with comment.createtime|timesince as time %}Before {{ time }}{% endblocktrans %}
                          IP: {{ comment.ip_address }}
                          {% if comment.lastupdateby %}<br />(Last update {{ comment.lastupdatetime }} by {{ comment.lastupdateby }}){% endif %}
                        </small>
                    </legend>

                      {% if not comment.is_public %}<p class="admin_info_line">not public</p>{% endif %}

                      <div class="admin_links">
                        {% if comment.edit_url %}<a href="{{ comment.edit_url }}">edit</a>{% endif %}
                        {% if comment.delete_url %}<a href="{{ comment.delete_url }}" onClick="return confirm('{% trans 'Do you really want to delete the entry?' %}');">{% trans 'delete' %}</a>{% endif %}
                      </div>

                      {{ comment.html_content }}
                  </fieldset>
                </li>
            {% endfor %}
            </ul>
            </fieldset>
        {% else %}
            <a href="{{ entry.detail_url }}" class="comment_link" title="Display all comments">{{ entry.comment_count }} comment{{ entry.comment_count|pluralize:"s" }}...</a>
        {% endif %}

        {% if add_comment_form %}
            <fieldset class="comments"><legend>Leave a comment</legend>
            <script type="text/javascript">
                   document.write('<fo'+'rm met'+'hod="po'+'st" act'+'ion=".">');
            </script>
            <ul id="input_fields">
                    {% for field in add_comment_form %}
                        <li title="{{ field.help_text }}" class="{{ field.html_name }}">
                        <label for="{{ field.auto_id }}">{{ field.label }}:</label>
                        {{ field }}
                        <span class="field_help_text">{{ field.help_text }}</span>
                        {% if field.errors %}<li class="field_errors">{{ field.errors }}</li>{% endif %}
                    </li>
                    {% endfor %}
            </ul>
            <noscript><h2 style="color:red;">JavaScript required!</h2></noscript>
            <script type="text/javascript">
                   document.write('<in'+'put type="sub'+'mit" value="{% trans 'submit' %}" />');
                   document.write('</fo'+'rm>');
            </script>
            </fieldset>
        {% endif %}

    </fieldset>
{% endfor %}

{% if back_url %}<p><a href="{{ back_url }}" class="action_link">&laquo;  Display all blog entries</a></p>{% endif %}
{% if create_url %}<p><a href="{{ create_url }}" class="action_link">create a new blog entry</a></p>{% endif %}

<fieldset class="tag_cloud"><legend>{% trans 'tag cloud' %}</legend>
    <ul>
    {% for tag in tag_cloud %}
        <li><a href="{{ tag.url }}" style="font-size:{{ tag.font_size }}em;">{{ tag.name }}</a></li>
    {% endfor %}
    </ul>
</fieldset>


<fieldset class="feeds"><legend>{% trans 'available syndication feeds' %}</legend>
    <ul>{% trans 'normal feeds:' %}
    {% for feed in feed_info %}
        <li><a href="{{ feed.url }}">{{ feed.title_info }}</a></li>
    {% endfor %}
    </ul>
    <ul>{% trans 'tag feeds:' %}
    {% for feed in tag_feed_info %}
        <li><a href="{{ feed.url }}">{{ feed.title_info }}</a></li>
    {% endfor %}
    </ul>
</fieldset>