{% extends "admin/base_site.html" %}

{% block content %}

{% if design_switch %}
<p>
	The current page design is switched to: <strong>{{ design_switch }}</strong>.<br/>
	You will see all cms pages in this design.
</p>
{% else %}
<p>
	No 'design switch' active.<br/>
	You will see all cms pages in the design associated by the PageTree.
</p>
{% endif %}

<form action="{{ form_url }}" method="post" id="switch_design_form" class="pylucid_form">
	{% csrf_token %}
    {% include "admin/pylucid/includes/form_fieldset_errorlist.html" %}
    {% include "admin/pylucid/includes/markup_preview_fieldset.html" %}
    <fieldset>
        {% include "admin/pylucid/includes/pylucid_formset.html" %}
        <div class="helper_buttons">
            <input type="submit" name="save" value="{% trans 'switch design' %}" />      
        </div>
    </fieldset>
</form>
<h2>links</h2>
<ul>
    <li>For a better overview, go to <strong><a href="{% url admin:pylucid_design_changelist %}">design change list</a></strong>.</li>
    <li>more info: <a href="/permalink/69/customise-the-look-of-your-pylucid-installation">customise the look of your PyLucid installation</a></li>
</ul>
{% endblock %}
