{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title|escape }} | {% trans 'PyLucid site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'PyLucid Administration' %}</h1>
&nbsp;<a href="/">&nbsp;&#xAB; {% trans 'back to' %} {{ request.META.HTTP_HOST }}/</a>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block footer %}
<script type="text/javascript">
/* <![CDATA[ */
function textarea_resize() {
    //
    // Resize all textareas
    //
    textareas = document.getElementsByTagName("textarea");
    for (var i = 0; i <= textareas.length-1; i++) {
        try {
            textarea = textareas[i];
            try {
                rows = textarea.firstChild.data.split("\n").length;
                if (rows > 30) {
                    rows = 30;
                }
            } catch(e) {
                rows = 5;
            }
            textarea.rows = rows;
        } catch (e) {
            alert("textarea_resize() error:" + e);
        }
    }
}
textarea_resize()
/* ]]> */
</script>
<style type="text/css">
textarea {
    font-family: monospace;
    width: 90%;
}
</style>
<div id="footer" class="align-right">
{{ powered_by }}
<p>page stats: <!-- script_duration --></p>
</div>{% endblock %}
