<ul>
{% for node in nodes %}
    {% if node.visible %}
	    <li>
	        {% if node.current %}<strong>{% endif %}
	        <a href="{{ node.pagemeta.get_absolute_url }}" title="{{ node.pagemeta.title }}" class="level_{{ node.level }}{% if node.active %} active{% endif %}{% if node.current %} current{% endif %}">{{ node.pagemeta.title_or_slug }}</a>
	        {% if node.current %}</strong>{% endif %}

	        {% with node.subnodes as nodes %}
	            {% include "main_menu/main_menu_items.html" %}
	        {% endwith %}
	    </li>
    {% endif %}
{% endfor %}
</ul>