.pylucid_form * {
    /* reset django values */
    font-size: 1em;
}
.pylucid_form {
    font-size: 1.1em;
}
.pylucid_form h2 {
    margin: 0.5em;
    font-size: 1.5em;
}
.pylucid_form h2:hover {
    background-color: #eee;
}
.pylucid_form fieldset {
    margin: 1em;
    padding: 0.5em;
}
.pylucid_form div.field {
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.5em 0em 0.5em 0em;
}
.pylucid_form div.error {
    padding: 0.5em;
    border:1px solid #f00;
    background-color: #ffeeee;
}
.pylucid_form .errorlist a {
    color: #ffffff;
}
.pylucid_form .errorlist a:hover {
    color: #ffff00;
}
.pylucid_form label {
    width: 150px;
    float: left;
}
.pylucid_form .field_help_text {
    margin-left: 150px;
    font-size: 0.75em;
}
textarea {
	width: 95% !important;
}
.pylucid_form input {
	width: 80%;
}
.pylucid_form textarea {
    width: 80% !important;
}
.pylucid_form .helper_buttons input, input[type=checkbox], input[type="submit"] {
    width: auto;
}

/* hover highlight all fields */
.pylucid_form .field {
    border:1px solid #ffffff;
    background-color: #ffffff;
}
.pylucid_form .field:hover {
    border-color: #dddddd;
    background-color: #fafafa;
}
.pylucid_form .field input, .pylucid_form .field select, .pylucid_form .field textarea {
    border:1px solid #cccccc;
}
.pylucid_form .field:hover input, .pylucid_form .field:hover select, .pylucid_form .field:hover textarea {
    border-color: #000000;
}
/* submit, reset, etc. buttons */
.pylucid_form .helper_buttons {
    background-color: #def;
    padding: 10px;
}
.pylucid_form .helper_buttons input, .pylucid_form .helper_buttons button {
    min-width: 4em;
    padding: 0.3em;
    margin: 0.3em;
    background: #fff;
    border-color: #DDD #AAA #AAA #DDD;
    border-style: solid;
    border-width: 1px;
    color: #000;
}

#page_msg pre {
  color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin: 5px;
}

table.info {
    margin: 0.4em;
}
table.info td {
    padding: 0.5em;
}
table.info caption {
    font-weight:bold
}
/* ----------------------------------------------------------------------------
   Headline Anchor
------------------------------------------------------------------------------- */
.top_link {
  color: #000000;
}
.uarr {
  color: #eeeeee;
}
.top_link:hover .uarr {
  color: #000000;
}
.section_anchor {
  text-shadow: 0px 0px #ffffff;
  text-decoration:none;
  color: #eeeeee!important;
  padding-right: 1em;
}
.headline_anchor:hover .section_anchor {
  color: #999999;
}
.section_anchor:hover {
  color:#000000!important;
  text-decoration:underline;
  text-shadow: 2px 2px 2px #999999;
}
/* ----------------------------------------------------------------------------
   TOC Plugin
------------------------------------------------------------------------------- */
.PyLucidPlugins.TOC {
  border: 1px solid #eeeeee;
  background-color: #fefefe;
  margin: 3em;
  padding: 1em 0em 1em 0em;
}
.PyLucidPlugins.TOC h3 {
  margin: 0em;
  color: #333333;
}
.PyLucidPlugins.TOC * {
  margin: 0em;
  color: #dddddd;
}
.PyLucidPlugins.TOC a {
  color: #777777;
}
.PyLucidPlugins.TOC a:hover {
  color: #286ea0;
}
/* ----------------------------------------------------------------------------
   CodeMirror
   http://marijn.haverbeke.nl/codemirror/css/
------------------------------------------------------------------------------- */
.CodeMirror-wrapping {
  overflow: auto;
  height: 100%;
  width: 90%;
  border: 1px solid #bbb;
}
/* ----------------------------------------------------------------------------
   Highlight importand models and grayout non importand ones in django admin
------------------------------------------------------------------------------- */

.module th a[href="auth/permission/"],
.module th a[href="contenttypes/contenttype/"],
.module th a[href="pylucid/color/"],
.module th a[href="pylucid/userprofile/"],
.module th a[href="PyLucid_Update/blogcomment08/"],
.module th a[href="PyLucid_Update/blogentry/"],
.module th a[href="PyLucid_Update/blogtag/"],
.module th a[href="PyLucid_Update/js_logindata08/"],
.module th a[href="PyLucid_Update/page08/"],
.module th a[href="PyLucid_Update/style08/"],
.module th a[href="PyLucid_Update/template08/"],
.module th a[href="reversion/revision/"],
.module th a[href="reversion/version/"],
.module th a[href="tagging/taggeditem/"],
.module th a[href="tagging/tag/"] {
    color: #aaa;
}

.module th a[href="dbpreferences/preference/"],
.module th a[href="dbtemplates/template/"],
.module th a[href="pylucid/design/"],
.module th a[href="pylucid/logentry/"],
.module th a[href="redirect/redirectmodel/"],
.module th a[href="redirects/redirect/"],
.module th a[href="StreetMap/mapentry/"],
.module th a[href="django_processinfo/sitestatistics/"]
 {
    background-color: #e8eff6;
    border-left: 5px solid #acc5e1;
    display: block;
}
.module th {
    padding: 0px;
    vertical-align:middle;
}
.module th a {
    padding: 5px;
    vertical-align:middle;
}