{% extends "pylucid_admin/base_site.html" %}
{% load i18n %}

{% block content %}
<!-- view_content block -->

{% lucidTag TOC %}

<hr/>

<h2>load average</h2>
{% if loadavg_err %}<p>{{ loadavg_err }}</p>{% else %}
<table>
    <tr><th>1 min</th><th>5 min</th><th>15 min</th></tr>
    <tr><td>{{ loadavg.0 }}</td><td>{{ loadavg.1 }}</td><td>{{ loadavg.2 }}</td></tr>
</table>
{% endif %}

<h2>os</h2>
<table>
    <tr><th>{% trans "code" %}</th><th>{% trans "result" %}</th><th>{% trans "description" %}</th></tr>
    {% for info in os %}
        <tr><td>{{ info.0 }}</td><td>{{ info.1 }}</td><td>{{ info.2 }}</td></tr>
    {% endfor %}
</table>

<h2>sys</h2>
<table>
    <tr><th>{% trans "code" %}</th><th>{% trans "result" %}</th><th>{% trans "description" %}</th></tr>
    {% for info in sys %}
        <tr><td>{{ info.0 }}</td><td>{{ info.1 }}</td><td>{{ info.2 }}</td></tr>
    {% endfor %}
</table>

<h2>resource</h2>
<table>
    <tr><th>{% trans "code" %}</th><th>{% trans "result" %}</th><th>{% trans "description" %}</th></tr>
    {% for info in resource %}
        <tr><td>{{ info.0 }}</td><td>{{ info.1 }}</td><td>{{ info.2 }}</td></tr>
    {% endfor %}
</table>

<h2>pwd</h2>
<table>
    <tr><th>{% trans "code" %}</th><th>{% trans "result" %}</th><th>{% trans "description" %}</th></tr>
    {% for info in pwd %}
        <tr><td>{{ info.0 }}</td><td>{{ info.1 }}</td><td>{{ info.2 }}</td></tr>
    {% endfor %}
</table>
<!-- view_content block end -->
{% endblock %}