label, input, select, textarea {
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
label.left {
  float: left;
  text-align: right;
  width: 10em;
  margin-right: .3em;
  padding: 0px;
}
.rightonly {
  /* Eingabefelder mit Text dahinter */
  margin-left: 10.3em;
  padding: 0px;
}

form br {
  /*  floats nach dem Formular aufheben */
  clear: both;
}

label, select, input {
  cursor: pointer;
}
textarea.ipage_edit {
  width: 100%;
}

.internalpage input[type=text] {
  width: 75%;
  cursor: text;
}

.internalpage input, .internalpage select, textarea.ipage_edit {
  margin: 2px;
  border: 1px solid grey;
  color: #000;
  background: #fafafa;
}
.internalpage input:focus, .internalpage select:focus, textarea.ipage_edit:focus  {
  border: 1px solid black;
  background: #fff;
}

#action_buttons {
    padding: 0 1em 0 1em;
    background-color: #09C;
}
#action_buttons a {
    text-decoration:none;
    margin: 0px;
    padding: 0.1em 2em 0.1em 2em;
    font-family:Verdana;
    line-height:2em;
    font-size:0.75em;
}
#action_buttons a:link {    /* noch nicht besuchter Link */
    color: black;
    background-color: #f5f5f5;
    border: 1px solid;
    border-color: #ddd #555 #555 #ddd;
}
#action_buttons a:hover {   /* Maus über Link */
    color: white;
    background-color: #aaa;
    border-color: #555 #ddd #ddd #555;
}
#action_buttons .separator {
    padding: 0 1em 0 1em;
}