.ipage_package {
    margin-top: 1em;
}
.ipage_package li {
    list-style-type: none;
}
.ipage_package, .ipage a:hover {
    background-color: #fff;
}
.ipage_package h1 {
    font-size: 1.1em;
    margin-top: 1em;
}
.ipage legend {
    font-size: 1.1em;
}
.ipage legend, .ipage_package fieldset {
    background-color: #f5f5f5;
}
.ipage_package fieldset {
    /* innen liegende fieldset */
    text-decoration:none;
    color: #000;
    margin-top: 1em;
}
.ipage legend {
    font-size: 0.8em;
    border: 1px;
}
.ipage_download {
    font-size: 0.7em;
}
.ipage_edit {
    font-weight:bold;
}