{*
  Jinja-Template
  <pre>{% debug %}</pre>
*}
<p><small>(edit_look v{{ version }})</small></p>
<h2>Edit internal page</h2>
<p>Select internal page to edit.</p>

{% for package in itemsList %}
  <fieldset class="ipage_package"><legend>{{ package.package_name }}</legend>
  <ul>
  {% for plugin in package.data %}
    <li>
      <h1>{{ plugin.module_name }}</h1>
      <ul>
      {% for internal_page in plugin.data %}
        <li>
          <fieldset class="ipage"><legend><em>{{ internal_page.name }}</em></legend>

           edit: <a href="{{ url }}{{ internal_page.name }}" class="ipage_edit"
              title="click to edit the '{{ internal_page.name }}'-internal page">
              {{ internal_page.description }}
            </a><br />

            <small>
              last update {{ internal_page.lastupdatetime }} by {{ internal_page.lastupdateby }}
            </small><br />

            <span class="ipage_download">
              download files as zip: <a href="{{ internal_page.url }}">{{ internal_page.filename }}</a>
            </span>

          </fieldset>
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  </fieldset>
{% endfor %}

<pre>{% debug %}</pre>