{*
    Jinja-Template
*}
<h2>Select CSS stylesheet to edit</h2>

<fieldset class="select"><legend>edit/delete existing Stylesheets:</legend>
<table>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>action</th>
    </tr>
{% for item in itemsDict %}
    {% cycle rowclass through "odd", "even" %}

    <tr>
        <form name="edit_{{ item.name }}" method="post" action="{{ url }}">
            <input name="id" type="hidden" value="{{ item.id }}">
            <td>
               {% if item.name equals default_name %}
                   <strong>{{ item.name|escapexml }}</strong> <small>(default)</small>
               {% else %}
                   {{ item.name|escapexml }}
               {% endif %}
            </td>
            <td class="description">{{ item.description }}</td>
            <td><input type="submit" value="edit" name="edit" /> <input type="submit" value="del" name="del" /></td>
        </form>
    </tr>
{% endfor %}
</table>
</fieldset>

<fieldset class="make_new_css"><legend>make a new Stylesheet:</legend>
<p>
  If you wont to make a new stylesheet, you should clone a existing one and edit the cloned css.
</p>
<form name="edit_style" method="post" action="{{ url }}">
    Duplicate <select name="clone_name">
    {% for item in nameList %}
        <option value="{{ item }}">{{ item }}</option>
    {% endfor %}

    </select> to a new named: <input name="new_name" value="" size="20" maxlength="50" type="text">
    <input type="submit" name="clone" value="clone" />
</form>
</fieldset>

<fieldset class="set_default_css"><legend>mark a Stylesheet to the default one:</legend>
<p>
  If you make a new page, the stylesheet who marked as the default style would be used.
</p>
<form name="edit_style" method="post" action="{{ url }}">
    Set <select name="default">
    {% for item in itemsDict %}
        <option value="{{ item.name }}" {% if item.name equals default_name %}selected="selected"{% endif %}>
           {{ item.name }}
        </option>
    {% endfor %}
    </select> to the default stylesheet.

    <input type="submit" name="set" value="set" />
</form>
</fieldset>