{*
  Jinja-Template
  <pre>{% debug %}</pre>
*}
<fieldset class="ipage_package"><legend>download</legend>
  Download
  <a href="{{ download_all }}">all internal pages</a>.
  <!--
  or
  <a href="{{ download_changed }}">only the changed one</a>
  as a ZIP archiv.
  -->
</fieldset>

<h3>Select internal page to edit:</h3>

{% for package in itemsList %}
  <fieldset class="ipage_package"><legend>{{ package.package_name }}</legend>
  <ul>
  {% for plugin in package.data %}
    <li>
      <h1><a href="#" title="Download all internal pages from this Module/Plugin (not implemented yet!)">
          {{ plugin.module_name }}
      </a></h1>
      <ul>
      {% for internal_page in plugin.data %}
        <li>
          <fieldset class="ipage"><legend><em>{{ internal_page.name }}</em></legend>

           edit: <a href="{{ url }}{{ internal_page.name }}" class="ipage_edit"
              title="click to edit the '{{ internal_page.name }}'-internal page">
              {{ internal_page.description }}
            </a><br />

            <small>
              last update {{ internal_page.lastupdatetime }} by {{ internal_page.lastupdateby }}
              (<a href="{{ internal_page.diff_url }}" title="diff to the filesystem version">diff</a>)
            </small><br />

            <span class="ipage_download">
              download files as zip: <a href="{{ internal_page.url }}">{{ internal_page.filename }}</a>
            </span>

          </fieldset>
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
  </fieldset>
{% endfor %}

<h3>Utils:</h3>
<p>Only usefull for distribute PyLucid.</p>
<fieldset class="ipage_package"><legend>utils</legend>
  <a href="{{ save_all_local }}" title="The Script must have the rights to change local files!">
  Update all local changed files.
  </a>
</fieldset>

{*
<pre>{% debug %}</pre>
*}