{*
    Jinja-Template
    <pre>{% debug %}</pre>
*}
<p><small>(edit_look v{{ version }})</small></p>
<h2>Edit internal page</h2>
<p>Select internal page to edit.</p>

{% for package in itemsList %}
    <fieldset class="ipage_package"><legend>{{ package.package_name }}</legend>
    <ul class="ipage_package">
    {% for plugin in package.data %}
        <li>
            <span class="ipage_plugin">{{ plugin.module_name }}</span>
            <ul class="ipage">
            {% for internal_page in plugin.data %}
                <li>
                <a href="{{ url }}{{ internal_page.name }}" class="ipage"
                    title="click to edit the '{{ internal_page.name }}'-internal page">
                    <fieldset class="ipage"><legend>{{ internal_page.name }}</legend>
                        <small>
                        <em>{{ internal_page.description }}</em>
                        (last update {{ internal_page.lastupdatetime }} by {{ internal_page.lastupdateby }})
                        </small>
                    </fieldset>
                </a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    </fieldset>
{% endfor %}