{*
    Jinja-Template
*}
<h2>Select template to edit</h2>

<form name="edit_style" method="post" action="{{ url }}">
    Duplicate <select name="clone_name">
    {% for item in nameList %}
        <option value="{{ item }}">{{ item }}</option>
    {% endfor %}

    </select> to a new named: <input name="new_name" value="" size="20" maxlength="50" type="text">
    <input type="submit" name="clone" value="clone" />
</form>

<span class="select">
<table>
    <tr>
        <th>name</th>
        <th>description</th>
        <th colspan="2">action</th>
    </tr>
{% for item in itemsDict %}
    {% cycle rowclass through "odd", "even" %}

    <tr>
        <form name="edit_{{ item.name }}" method="post" action="{{ url }}">
            <input name="id" type="hidden" value="{{ item.id }}">
            <td class="name">{{ item.name|escapexml }}</td>
            <td class="description">{{ item.description }}</td>
            <td><input type="submit" value="edit" name="edit" /></td>
            <td><input type="submit" value="del" name="del" /></td>
        </form>
    </tr>
{% endfor %}
</table>
</span>