.ipage_package legend {
    font-size: 1em;
    font-weight: normal;
}
.ipage fieldset {
    border: 0px;
}
.ipage legend {
    font-weight: bold;
}
.ipage li {
    margin: 0.5em;
}
.ipage, .ipage_package {
    list-style-type: none;
    background-color: #fff;
}

.ipage legend {
    border: 0px;
    display:inline;
}

.ipage li *, .ipage a:link {
    text-decoration:none;
    color: #000;
    background-color: #f5f5f5;
}
.ipage a:visited {
	color: #000000;
}
.ipage a:hover * {
	color: #00f;
	background-color: #eee;
}
.ipage a:active {
	color: #f00;
}