.tree-menu li {
    float: none;
}
.navbar-default .navbar-nav > .ancestor > a {
    background-color: #ddd;
}
.tree-menu * {
    background-color: #eee;
}
.tree-menu .ancestor > a {
    background-color: #ddd;
}