{% extends "pylucid/css_anchor_div.html" %}


{% block plugin_content %}

{% extrahead %}
<script type="text/javascript" src="{{ PyLucid_media_url }}sha.js"></script>
<script type="text/javascript" src="{{ PyLucid_media_url }}shared_sha_tools.js"></script>
<script type="text/javascript" src="{{ PyLucid_media_url }}sha_login_input_password.js"></script>
<script type="text/javascript">
debug_msg = {{ debug }};
salt = '{{ salt }}';
challenge = '{{ challenge }}';
submit_url = '{{ form_url }}';
focus_id = 'plaintext_pass';

function start_init() {
    try {
        $(document);
    } catch (e) {
        alert("Error, jQuery JS not loaded!\n Original error was:" + e);
        return;
    }
    
    try {
        $(document).ready(function(){
            init();
        });
    } catch (e) {
        alert("Error, can't initialize SHA login:\n\n" + e + "\n\n(Possible error: JS files not loaded.)");
    }
}
start_init();
</script>
{% endextrahead %}

<fieldset><legend>PyLucid <a href="http://www.pylucid.org/_goto/8/JS-SHA-Login/" title="What is the PyLucid JS-SHA-LogIn?">JS-SHA-LogIn</a> - step 2</legend>

<noscript>
    <fieldset id="js_error"><legend>{% trans 'Error' %}</legend>
    <h3>Error: For the JS-SHA-Login is Javascript needed!</h3>
    <p>Without JavaScript, you can only use the unsecure plaintext login!</p>
    </fieldset>
</noscript>

<form method="post" action="" name="login" onsubmit="return check();" id="login_form">
  <input type="hidden" name="username" value="{{ username }}" />
  <input type="hidden" name="sha_login" value="little secure sha login" />
  <input type="hidden" name="next_url" value="{{ next_url }}" />

  <label for="plaintext_pass">{% trans 'Password' %}:</label>
  <input id="plaintext_pass" type="password" maxlength="128" />
  <br />
  <input id="sha_a2" name="sha_a2" class="hash" value="" type="text" size="40" maxlength="40" readonly="readonly" />
  <input id="sha_b" name="sha_b" class="hash" value="" type="text" size="30" maxlength="20" readonly="readonly" />
  <br />
  <input type="submit" value="{% trans 'Log in' %}" />
</form>
{% if pass_reset_link %}
  <a href="{{ pass_reset_link }}">{% trans 'Request a password reset.' %}</a>
{% endif %}
</fieldset>
{% endblock %}