{% extends "pylucid/css_anchor_div.html" %}

{% block plugin_content %}
{# We can't use extrahead block here, because it's used in ajax view, too. #}
<script type="text/javascript">

$(document).ready(function(){
    log("input username ready");
    $("#id_username").focus();
    
    $('#username_form').bind('submit', function() {
        // get the input password form via ajax
        $("#page_content").html('<h2>loading...</h2>');
        $("#page_content").animate({opacity: 0.3}, 500 );
    
        log("continue login...");

        var form = $(this);
        var form_data = form.serialize();
        log("form data:" + form_data);
        
        var url = encodeURI(form.attr('action'));
        log("form url:" + url);
        
	    $.post(url, form_data,
	        function(form_html){
	            log("ajax get success.");
	            $("#page_content").html(form_html);
	            $("#page_content").animate({opacity: 1}, 500 );
	        }
	    );
        
        return false; // <-- important!
    });    
});
</script>

<fieldset><legend>PyLucid <a href="http://www.pylucid.org/_goto/8/JS-SHA-Login/" title="What is the PyLucid JS-SHA-LogIn?">JS-SHA-LogIn</a> - step 1</legend>

<noscript>
    <fieldset id="js_error"><legend>{% trans 'Error' %}</legend>
    <h3>Error: For the JS-SHA-Login is Javascript needed!</h3>
    <p>Without JavaScript, you can only use the unsecure plaintext login!</p>
    </fieldset>
</noscript>

<form id="username_form" method="post" action="{{ form_url }}">
  {{ form.as_p }}
  <br />
  {% trans 'Log in' %}:
  <input type="submit" id="sha_button" name="sha_login" value="SHA-1 login" />
  <input type="submit" id="plaintext_button" name="plaintext_login" value="unsecure plaintext login" onclick="return confirm('Do you realy want to send your password in plaintext?')"/>
  <input type="hidden" name="next_url" value="{{ next_url }}" />
</form>
</fieldset>
{% endblock %}