{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}PyLucid - {{ title }}{% endblock %}

{% block extrahead %}
<!-- app_extrahead block start -->
{# stylesheets for all PyLucid views #}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">
MAX_ROWS = 25;
$(document).ready(function(){
  //
  // Resize all textareas
  //
  $("textarea").each(function (i) {
    rows = this.value.split("\n").length;
    if (rows > MAX_ROWS) {rows = MAX_ROWS;}
    this.rows = rows;
  });
});
</script>
<!-- app_extrahead block end -->
{% endblock %}

{% block branding %}<h1>PyLucid</h1>
<a href="/">&lt;&lt; back to root dev page</a>
| sites:
{% for site in sites %}
    {% ifequal site current_site %}
        <strong> 
        <a href="http://{{ site.domain }}{{ request.path }}" class="current_site" title="current used site">{{ site.name }}</a>
        </strong>
    {% else %}
        <a href="http://{{ site.domain }}{{ request.path }}">{{ site.name }}</a>
    {% endifequal %}
    {% if not forloop.last %} | {% endif %}
{% endfor %}
<!-- page_messages -->
{% endblock %}

{% block footer %}
<!-- app footer block start -->
<div class="footer">
    {% trans 'page stats:' %} <!-- script_duration --> | powered by: {{ powered_by }}
</div>
<!-- app footer block end -->
{% endblock %}