{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}PyLucid - {{ title }}{% endblock %}

{% block extrahead %}
<!-- app_extrahead block start -->
{# stylesheets for all PyLucid views #}
<script type="text/javascript" src="{{ PyLucid_media_url }}jquery.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{{ PyLucid_media_url }}superfish/superfish.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ PyLucid_media_url }}superfish/admin_design.css" />
<script type="text/javascript" src="{{ PyLucid_media_url }}superfish/superfish.js"></script> 
<style type="text/css">
<!--
/* setup superfish background urls */
.sf-sub-indicator {
    background: url('{{ PyLucid_media_url }}superfish/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
.sf-shadow ul {
    background: url('{{ PyLucid_media_url }}superfish/shadow.png') no-repeat bottom right;
}
textarea {
    width:85%;
}
-->
</style>


<script type="text/javascript">
MAX_ROWS = 25;
$(document).ready(function(){
  //
  // initialise Superfish menu
  // 
  $('ul.sf-menu').superfish({ 
      delay:       1000,                            // one second delay on mouseout 
      animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
      speed:       'fast',                          // faster animation speed
  }); 

  //
  // Resize all textareas
  //
  $("textarea").each(function() {
    rows = this.value.split("\n").length;
    if (rows > MAX_ROWS) {rows = MAX_ROWS;}
    this.rows = rows;
  });
});
</script>
<!-- app_extrahead block end -->
{% endblock %}

{% block branding %}<h1>PyLucid</h1>
<!-- page_messages -->
{% endblock %}

{% block pretitle %}
<!-- app pretitle block start -->
{% if request.user.is_authenticated %}
<ul class="sf-menu">
    <li class="current">
        <a href="/">&lt;&lt; back to "/" root page</a>
    </li>
    {% if not sites|length_is:"1" %}
    <li>
        <a>{% trans 'switch site' %}</a>
        <ul>
        {% for site in sites %}
          <li>
            {% ifequal site current_site %}
                <strong> 
                <a href="http://{{ site.domain }}{{ request.path }}" class="current_site" title="current used site">{{ site.name }}</a>
                </strong>
            {% else %}
                <a href="http://{{ site.domain }}{{ request.path }}">{{ site.name }}</a>
            {% endifequal %}
           </li>
        {% endfor %}
        </ul>
    </li>
    {% endif %}
    <li>
        <a href="#TODO">{% trans 'admin menu' %}</a>
    </li>
    {% if user.is_superuser %}
    <li>
        <a href="{% url PyLucidUpdate-menu %}">{% trans 'update section' %}</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<!-- app pretitle block end -->
{% endblock %}

{% block footer %}
<!-- app footer block start -->
<div class="footer">
    {% trans 'page stats:' %} <!-- script_duration --> | powered by: {{ powered_by }}
</div>
<!-- app footer block end -->
{% endblock %}