{% extends "admin/base_site.html" %}

{% block content %}
<form action="{{ form_url }}" method="post" id="clear_cache_form" class="pylucid_form">
    {% csrf_token %}
    {% include "admin/pylucid/includes/form_fieldset_errorlist.html" %}
    <fieldset>
        <p>
            How to update the complete cache?
        </p>
        {% include "admin/pylucid/includes/pylucid_formset.html" %}
        <div class="helper_buttons">
            <input type="submit" name="save" value="{% trans 'clear cache' %}" />      
        </div>
    </fieldset>
</form>
{% endblock %}
