/* ----------------------------------------------------------------------
   Old Plugin Styles
   inserted via PyLucid v0.8 -> v0.9 update 
---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
   admin menu with new superfish css
---------------------------------------------------------------------- */
.admin_menu {
    float: none;
    clear: both;
    height: 2.7em;
}

/* ----------------------------------------------------------------------
   Language selection list
---------------------------------------------------------------------- */
.PyLucidPlugins.language * {
    display: inline;
    padding: 0px;
}
/* ----------------------------------------------------------------------
   Page messages
---------------------------------------------------------------------- */
#page_msg p { margin: 0px 0px 0.3em 0px; }
#page_msg hr { border: 0px; border-top: 1px dashed #888; }
#page_msg .successful { color: #0f0; }
#page_msg .info { color: #888; }
#page_msg .warning { color: #00f; }
#page_msg .error { color: #f00; }
#page_msg .critical { background-color: #f00; color: #ff0; }