<h2>Modul / plugin Administration {{ version }}</h2>

<table class="module_admin">
    <tr><td class="caption" colspan="7"><h3>acivated</h3></td></tr>
    <tr class="headline">
        <th>Module/Plugin name</th>
        <th>description</th>
        <th>author</th>
        <th>version</th>
        <th colspan="3">actions</th>
    </tr>

    {% for module in moduleData %}
    {% if module.active %}
        {% cycle rowclass through "odd", "even" %}
        <tr class="{{ rowclass }}">
            <td class="name">{{ module.module_name|escapexml }}</td>
            <td class="description">{{ module.description|escapexml }}</td>
            <td>
                <a class="author" href="{{ module.url }}" title="{{ module.author }}">{{ module.author }}</a>
            </td>
            <td class="version">{{ module.version }}</td>
            <td>
                {% if module.builtin %}
                    <small>[buildin module]</small>
                {% else %}
                    <form method="post" action="{{ action_url }}">
                        <input name="id" type="hidden" value="{{ module.id }}" />
                        <span class="action">
                            &dArr; <input type="submit" value="deactivate" name="deactivate" />
                        </span>
                    </form>
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ action_url }}">
                    <input name="id" type="hidden" value="{{ module.id }}" />
                    <input type="submit" value="reinit" name="reinit" />
                </form>
            </td>
        </tr>
    {% endif %}
    {% endfor %}

    <tr><td class="caption" colspan="7"><h3>registered and unactivated</h3></td></tr>
    <tr class="headline">
        <th>Module/Plugin name</th>
        <th>description</th>
        <th>author</th>
        <th>version</th>
        <th colspan="3">actions</th>
    </tr>

    {% for module in moduleData %}
    {% if module.installed %}
    {% if not module.active %}
        {% cycle rowclass through "odd", "even" %}
        <tr class="{{ rowclass }}">
            <td class="name">{{ module.module_name|escapexml }}</td>
            <td class="description">{{ module.description|escapexml }}</td>
            <td>
                <a class="author" href="{{ module.url }}" title="{{ module.author }}"></a>
            </td>
            <td class="version">{{ module.version }}</td>
            <td>
                {% if module.builtin %}
                    <small>[buildin module]</small>
                {% else %}
                    <form method="post" action="{{ action_url }}">
                        <input name="id" type="hidden" value="{{ module.id }}" />
                        <span class="action">
                            &dArr; <input type="submit" value="deinstall" name="deinstall"
                                title="delete the Plugin with all Data (incl. internal pages)" />
                        </span>
                    </form>
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ action_url }}">
                    <input name="id" type="hidden" value="{{ module.id }}" />
                    <span class="action">
                        &uArr; <input type="submit" value="activate" name="activate" />
                    </span>
                </form>
            </td>
        </tr>
    {% endif %}
    {% endif %}
    {% endfor %}

    <tr><td class="caption" colspan="7"><h3>not installed</h3></td></tr>
    <tr class="headline">
        <th>Module/Plugin name</th>
        <th>description</th>
        <th>author</th>
        <th>version</th>
        <th colspan="3">actions</th>
    </tr>

    {% for module in moduleData %}
    {% if not module.installed %}
        {% cycle rowclass through "odd", "even" %}
        <tr class="{{ rowclass }}">
            <td class="name">{{ module.module_name|escapexml }}</td>
            <td class="description">{{ module.description|escapexml }}</td>
            <td>
                <a class="author" href="{{ module.url }}" title="{{ module.author }}"></a>
            </td>
            <td class="version">{{ module.version }}</td>
            <td>
                {% if module.builtin %}
                    <small>[buildin module]</small>
                {% else %}
                    <form method="post" action="{{ action_url }}">
                        <input name="module_name" type="hidden" value="{{ module.module_name }}" />
                        <input name="package_name" type="hidden" value="{{ module.package_name }}" />
                        <span class="action">
                            &uArr; <input type="submit" value="install" name="install" />
                        </span>
                    </form>
                {% endif %}
            </td>
            <td></td>
        </tr>
    {% endif %}
    {% endfor %}
</table>

<h4>Info:</h4>
<ul>
  <li><strong>install</strong> - register a Module/Plugin in the Database</li>
  <li><strong>deinstall</strong> - All tables, stylesheets and internal pages where delete in the DB.</li>
  <li><strong>activate</strong> - enable the Module/Plugin for the CMS</li>
  <li><strong>deactivate</strong> - disable the Module/Plugin</li>
</ul>