table.module_admin {
  border-spacing:0px;
}
table.module_admin td {
  padding:0.5em;
  border-top:1px solid #999999;
}
.odd {
  background-color: #EEEEEE;
}
.caption {
  line-height:0px;
  text-align: center;
  background-color: #EEEEEE;
}
.module_admin small {
  color: #999999;
}
.action {
  font-weight:bold;
}
.author {
  color: #000000;
}
.description, .author, .version {
  font-size: 0.75em;
}
