{% extends "pylucid/css_anchor_div.html" %}

<!-- TODO: Update me -->

{% block plugin_content %}
{% if from_cache %}<small>(from cache)</small>{% endif %}
<table id="page_updates">
  <tr>
    <th>update time</th>
    <th>page</th>
    <th>update by</th>
  </tr>
  {% for page in pages %}
  <tr>
    <td>{{ page.lastupdatetime|date:_("DATETIME_FORMAT") }}</td>
    <td><a href="{{ page.get_absolute_url }}">{% if page.title %}{{ page.title|escape }}{% else %}{{ page.page.slug|escape }}{% endif %}</a></td>
    <td>{{ page.lastupdateby }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}