{% extends "pylucid/css_anchor_div.html" %}

{% block plugin_content %}
<table id="page_updates">
  <tr>
    <th>no</th>
    <th>update time</th>
    <th>type</th>
    <th title="content language">lang</th>
    <th>page</th>
    <th>update by</th>
  </tr>
  {% for item in update_list %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ forloop.counter }}</td>
    <td>{{ item.lastupdatetime|date:_("DATETIME_FORMAT") }}</td>
    <td>{{ item.content_type }}</td>
    <td title="{{ item.language.description }}">{{ item.language.code }}</td>
    <td><a href="{{ item.url }}">{{ item.title|escape }}</a></td>
    <td>{{ item.lastupdateby }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}