{*
    Jinja Template
    <pre>{% debug %}</pre>
*}

<form class="internalpage" name="edit_page" method="post" action="{{ url_action }}">
  <p>Page <strong>"{{ name }}"</strong>:<br \>
    <textarea id="page_content" name="content" rows="25" onchange="page_content_changed=1;">{{ content }}</textarea>
  </p>
<span class="resize_buttons">
  <a href="JavaScript:resize_big();" title="makes the textarea bigger">&nbsp;+&nbsp;</a>
  <a href="JavaScript:resize_small();" title="makes the textarea smaller">&nbsp;-&nbsp;</a><br>
</span>

<fieldset><legend>send</legend>
<p>
    <input name="page_id" value="{{ page_id }}" type="hidden">
    <input value="save" name="save" type="submit">
    <input value="preview" name="preview" type="submit">

    <input onclick="self.location.href='{{ url_abort }}'" name="abort" value="abort" type="reset">
    |||
    <a href="http://www.pylucid.org/index.py/TinyTextileHelp/" onclick="OpenInWindow(this.href); return false">tinyTextile Help</a>
    |||
    <a href="{{ url_taglist }}" onclick="OpenInWindow(this.href); return false" title="Liste available PyLucid tags and functions">tags/functions</a>
</p>
   <label class="left" for="trivial">trivial modifications:</label>
   <input class="right" id="trivial" name="trivial" value="1" type="checkbox" {% if trivial %}checked="checked"{% endif %}>
   <small>( If checked the page will not archived. )</small>

   <br />
   <label class="left" for="summary">Edit summary:</label>
   <input class="right" id="summary" name="summary" value="{{ summary }}" size="50" maxlength="50" type="text">
</fieldset>

<fieldset><legend>Page Details</legend>
   <label class="left" for="name">page name:</label>
   <input class="right" id="name" name="name" value="{{ name }}" size="50" maxlength="50" type="text">
   <br />
   <label class="left" for="shortcut">page shortcut:</label>
   <input class="right" id="shortcut" name="shortcut" value="{{ shortcut }}" size="50" maxlength="50" type="text">
   <br />
   <label class="left" for="title">page title:</label>
   <input class="right" id="title" name="title" value="{{ title }}" size="50" maxlength="50" type="text">
   <br />
   <label class="left" for="keywords">keywords:</label>
   <input class="right" id="keywords" name="keywords" value="{{ keywords }}" size="70" maxlength="255" type="text">
   <br />
   <label class="left" for="description">description:</label>
   <input class="right" id="description" name="description" value="{{ description }}" size="70" maxlength="255" type="text">
</fieldset>

<fieldset><legend>Page Controls</legend>
   <label class="left" for="parent">Parent Page:</label>
   <select class="right" id="parent" name="parent">
      {% for item in parent_data %}
         <option value="{{ item.id }}" {% if item.id equals parent %}selected="selected"{% endif %}>{{ item.name|escapexml }}</option>
      {% endfor %}
   </select>
   <br />

       <label class="left" for="template">Template engine:</label>
       <select class="right" id="template" name="template">
          {% for item in templates %}
             <option value="{{ item.id }}" {% if item.id equals template %}selected="selected"{% endif %}>{{ item.name|escapexml }}</option>
          {% endfor %}
       </select>
       <br />
       <label class="left" for="style">Stylesheet:</label>
       <select class="right" id="style" name="style">
          {% for item in styles %}
             <option value="{{ item.id }}" {% if item.id equals style %}selected="selected"{% endif %}>{{ item.name|escapexml }}</option>
          {% endfor %}
       </select>
       <br />

       <label class="left" for="markup">Markup:</label>
       <select class="right" id="markup" name="markup">
          {% for item in markups %}
             <option value="{{ item.id }}" {% if item.id equals markup %}selected="selected"{% endif %}>{{ item.name|escapexml }}</option>
          {% endfor %}
       </select>
   <br />

   <label class="left" for="ownerID">Page Owner:</label>
   <select class="right" id="ownerID" name="ownerID">
      {% for item in users %}
         <option value="{{ item.id }}" {% if item.id equals ownerID %}selected="selected"{% endif %}>{{ item.name|escapexml }}</option>
      {% endfor %}
   </select>
</fieldset>

<fieldset><legend>Page Permissions</legend>

   <label class="left" for="permitEditGroupID">Editable by Group:</label>
   <select class="right" id="permitEditGroupID" name="permitEditGroupID">
      {% for item in users %}
         <option value="{{ item.id }}" {% if item.id equals permitEditGroupID %}selected="selected"{% endif %}>{{ item.name }}</option>
      {% endfor %}
   </select><small>(Not complete implemented yet!)</small>
   <br />
   <label class="left" for="permitViewGroupID">Viewable by Group:</label>
   <select class="right" id="permitViewGroupID" name="permitViewGroupID">
      {% for item in users %}
         <option value="{{ item.id }}" {% if item.id equals permitViewGroupID %}selected="selected"{% endif %}>{{ item.name }}</option>
      {% endfor %}
   </select><small>(Not complete implemented yet!)</small>
   <br />

   <label class="left" for="showlinks">showlinks:</label>
   <input class="right" id="showlinks" name="showlinks" value="1" {% if showlinks %}checked="checked"{% endif %} type="checkbox">
   <br>
   <label class="left" for="permitViewPublic">permit view public:</label>
   <input class="right" id="permitViewPublic" name="permitViewPublic" value="1" {% if permitViewPublic %}checked="checked"{% endif %} type="checkbox">
</fieldset>