{*
    Jinja Template
    <pre>{% debug %}</pre>
*}
<h2>Delete Page</h2>

<form name="del_page" method="post" action="{{ url }}">
<fieldset class="internalpage"><legend>Select a page to delete it:</legend>
  <p>
    Here are all pages available.
  </p>
  <label class="left" for="page_id_to_del">select page:</label>
  <select id="page_id_to_del" name="page_id_to_del">
    {% for item in pages_tree %}
       <option value="{{ item.id }}" {% if item.id equals parent %}selected="selected"{% endif %}>{{ item.name|escapexml }}</option>
    {% endfor %}
  </select>
  <br />
  <label class="left" for="comment">comment:</label>
  <input id="comment" name="comment" type="text" value="" size="50" maxlength="254">
  <br />
  <input type="submit" name="delete page" value="delete page" />
  <p>
    <strong>Note:</strong> You can only delete pages with no parents!
  </p>
</fieldset>
</form>