<h2>Sequencing pages</h2>

<p>
  Here you can change the page position by setting the weights.<br />
  (ascending order)
</p>

<form method="post" action="{{ url }}" id="sequencing">
  <table id="sequencing">
  {% for page in sequencing_data %}
  <tr>
    <td class="name">{{ page.name|escapexml }}</td>
    <td>weight: <strong>{{ page.position }}</strong></td>
    <td>
      <select name="page_id_{{ page.id }}">
        {% for weight in weights %}
          <option value="{{ weight }}" {% if weight equals page.position %}selected="selected"{% endif %}>
             {{ weight }}
          </option>
        {% endfor %}
      </select>
    </td>
  </tr>
  {% endfor %}
  </table>
  <input type="submit" name="save" value="save"/>
</form>