# Python packages
#-----------------

# https://pypi.python.org/pypi/click/
click>=3.3,<4.0

# http://python-pillow.github.io/
# https://pypi.python.org/pypi/Pillow/
pillow

# http://pygments.org/
# http://pypi.python.org/pypi/Pygments
Pygments

# Flup is not Python 3 compatible.
# http://trac.saddi.com/flup
# http://pypi.python.org/pypi/flup
# needed, for fastCGI usage
#flup>=1.0.2,<1.1
#
# Use FlipFlop, a fork of flup:
# https://github.com/Kozea/flipflop
# https://pypi.python.org/pypi/flipflop/
#flipflop>=1.0.0,<1.1


# Django packages
#----------------

# http://www.djangoproject.com/
# http://pypi.python.org/pypi/Django
Django>=1.7,<1.8

# https://github.com/django-debug-toolbar/django-debug-toolbar
django-debug-toolbar

# https://github.com/jezdez/django-robots/
django-robots

# https://github.com/django-compressor/django-compressor
django-compressor

# https://github.com/etianen/django-reversion
django-reversion>=1.8.4,<1.9


# Django CMS packages
#--------------------

# http://www.django-cms.org/
# https://pypi.python.org/pypi/django-cms/
django-cms>=3.0.5,<3.1

# https://github.com/SmileyChris/easy-thumbnails
easy-thumbnails

# https://github.com/stefanfoulis/django-filer/
django-filer

# https://github.com/stefanfoulis/cmsplugin-filer
cmsplugin-filer

# https://github.com/divio/djangocms-file
djangocms-file

# https://github.com/divio/djangocms-link
djangocms-link

# https://github.com/divio/djangocms-text-ckeditor
djangocms-text-ckeditor

# https://github.com/divio/djangocms-picture
djangocms-picture

# https://github.com/divio/djangocms-video
djangocms_video
