#
# https://requires.io/github/jedie/PyLucid/requirements/
#

# Python packages
#-----------------

# https://pypi.python.org/pypi/click/
click>=6.6,<6.7

# http://python-pillow.github.io/
# https://pypi.python.org/pypi/Pillow/
pillow>=3.2,<3.3

# http://pygments.org/
# http://pypi.python.org/pypi/Pygments
Pygments>=2.1,<2.2

# http://pypi.python.org/pypi/pytz
pytz

# Flup is not Python 3 compatible.
# http://trac.saddi.com/flup
# http://pypi.python.org/pypi/flup
# needed, for fastCGI usage
#flup>=1.0.2,<1.1
#
# Use FlipFlop, a fork of flup:
# https://github.com/Kozea/flipflop
# https://pypi.python.org/pypi/flipflop/
#flipflop>=1.0.0,<1.1


# Django packages
#----------------

# http://www.djangoproject.com/
# http://pypi.python.org/pypi/Django
Django>=1.8,<1.9

# https://github.com/django-debug-toolbar/django-debug-toolbar
django-debug-toolbar>=1.4,<1.5

# https://github.com/jezdez/django-robots/
django-robots>=2.0,<2.1

# https://github.com/django-compressor/django-compressor
django-compressor>=2.0,<2.1

# https://github.com/etianen/django-reversion
django-reversion>=1.10,<2.0


# Django CMS packages
#--------------------

# http://www.django-cms.org/
# https://pypi.python.org/pypi/django-cms/
django-cms>=3.3,<3.4

# https://github.com/divio/djangocms-text-ckeditor
djangocms-text-ckeditor>=3.0,<3.1


# django-filter
#--------------
# https://github.com/stefanfoulis/django-filer/
# The 'cmsplugin-filer' will install, among other things:
# django-filter, django-sekizai, easy_thumbnails
cmsplugin-filer>=1.1,<1.2
django-filer>=1.2,<1.3


# Django-CMS-Blog
#-----------------
# https://github.com/nephila/djangocms-blog/blob/develop/setup.py
# https://pypi.python.org/pypi/djangocms-blog
#git+https://github.com/jedie/djangocms-blog.git#egg=djangocms-blog
djangocms-blog>=0.8,<0.9


# own Django-CMS Addons
#----------------------

git+https://github.com/jedie/djangocms-widgets.git#egg=djangocms-widgets

# external Django-CMS Addons
#---------------------------

# https://github.com/kapt-labs/djangocms-htmlsitemap
djangocms-htmlsitemap>=0.1,<0.2