<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<title>PyLucid v0.9 test...</title>
</head>
<body>

<h1>PyLucid v0.9 dev - root page</h1>

<p>First Steps:<br />
<ul>
    <li>Go into django panel, and add one or more language(s).</li>
    <li>Use update function to move v0.8 data into new models.</li>
</ul>
</p>

<p>You can try these urls:</p>
<ul>
    <li><a href="/">/</a> (this page)</li>
    <li><a href="/de/">/de/</a></li>
    <li><a href="/de/test1/">/de/test1/</a></li>
    <li><a href="/de/test1/test2/">/de/test1/test2/</a></li>
    <li><hr /></li>
    <li><a href="{{ admin_url }}">{{ admin_url }}</a> - django admin panel</li>
    <li><a href="/update/">/update/</a> - update section</li>
</li>

<hr />
{% lucidTag page_update_list count="5" %}
<hr />

<p><small>TODO: This page should be removed before first release</small></p>

<hr />
<p>powered by: {{ powered_by }}</p>
</body>
</html>
