{% extends "PyLucid_base.html" %}

{% block title %}PyLucid setup{% endblock %}

{% block base_head %}
<link rel="stylesheet" type="text/css" href="{{ PyLucid_media_url }}install_views.css" />
<script type="text/javascript" src="{{ PyLucid_media_url }}shared_sha_tools.js"></script>
<style type="text/css">
/* <![CDATA[ */
#password_form {
    /* Areas how only should unhide, if JavaScript loaded fine. */
    display: none;
}
.help_text {
    font-size:0.8em;
}
#hash {
    background-color: #808080;
}
fieldset.error {
    border: red 2px solid;
}
/* ]]> */
</style>
{% block head %}{% endblock %}
{% endblock %}

{% block base_content %}
<h3 class="header"><a href="http://www.pylucid.org">PyLucid</a> v{{ version }} - setup@<a href="/" title="{% trans 'goto your PyLucid CMS page' %}">{{ request.META.HTTP_HOST }}</a></h3>
{% if not no_menu_link %}<p><a href="{% url PyLucid.install.index.menu . %}">&#xAB; {% trans 'back to menu' %}</a></p>{% endif %}
{% block pre_page_msg_content %}{% endblock %}
<!-- page_messages -->

<noscript>
    <fieldset class="error">
    <legend>{% trans 'JavaScript Error.' %}</legend>
        <strong>{% trans 'You need JavaScript to generate this hash!' %}</strong><br />
        {% trans 'Please enable JavaScript in your browser!' %}
    </fieldset>
    <style type="text/css">
    #check_media, #password_form {
        /*
        hide the check_media div if javascript is disable
        TODO: Check if a style tag inner noscript area is allowed.
        */
        display: none;
    }
    </style>
</noscript>

<div id="check_media">
<fieldset class="error">
    <legend>{% trans 'Error: Wrong media path.' %}</legend>
    <p>{% trans "It seems that the required JavaScript file isn't loaded!" %}</p>
    <p>
      {% blocktrans %}
      If you use the local development server, you must set
      'SERVE_STATIC_FILES = True' in your settings.py
      {% endblocktrans %}
    </p>
    <ul>
      Please check this:
      <li>
        The current working directory is: <strong>{{ current_working_dir }}</strong> - this must be the PyLucid project directory!
      </li>
      <li>
        {% trans 'Please check all path variables in your settings.py in the section "STATIC FILES".' %}
      </li>
      <li>
        {% trans "Are you able to see this file:" %}
        <a href="{{ PyLucid_media_url }}media_path_test.html">{{ PyLucid_media_url }}media_path_test.html</a> ?
      </li>
    </p>
</fieldset>
</div>
<script type="text/javascript">
/* <![CDATA[ */
// Hide the "check_media" block with a function from the shared_sha_tools.js file.
// If the PyLucid_media_url is wrong and the file is not served correctly, the info
// Block can't hide.
try {
    hide_by_id("check_media");
} catch (e) {
    alert("{% trans "It seems that the required JavaScript file isn't loaded!" %}\n\nThe original Error was:\n" + e);
}
/* ]]> */
</script>
{% block content %}{% endblock %}
{% endblock %}

{% block base_footer %}
<div class="footer">
{% if not no_menu_link %}<p><a href="{% url PyLucid.install.index.menu . %}">&#xAB; {% trans 'back to menu' %}</a> |{% endif %}
<a href="#top">&#x5E; {% trans 'top' %}</a> | <a href="{% url PyLucid.install.index.logout . %}">{% trans 'Log out' %}</a>
{% if install_pass %}</p>{% endif %}
|||
<a href="http://pylucid.org/_goto/107/install-PyLucid/">install guide</a>
|
<a href="http://pylucid.org/_goto/108/Update-PyLucid/">update instructions</a>
</div>
<p class="page_stats">{% trans 'page stats:' %} <!-- script_duration --></p>
{% endblock %}
