<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}PyLucid{% endblock %}</title>
<meta http-equiv="expires" content="0" />
<meta name="robots" content="noindex,nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
/* <![CDATA[ */
html, body {
    padding: 1em 3em 1em 3em;
    background-color: #FFFFEE;
}
body {
    font-family: tahoma, arial, sans-serif;
    color: #000000;
    font-size: 0.9em;
    background-color: #FFFFDB;
    margin: 1em 3em 1em 3em;
    border: 3px solid #C9C573;
}
/* ]]> */
</style>
{% block base_head %}{% endblock %}
</head>
<body {% block body_tag %}{% endblock %}>
<a name="top"></a>
{% block base_content %}{% endblock %}
{% block base_footer %}{% endblock %}
</body></html>