/*
    Stylesheet for the _install section views.
    Used in ./PyLucid/templates_PyLucid/install_base.html
*/
form * {
  vertical-align:middle;
}
input {
    border: 1px solid #C9C573;
    margin: 0.4em;
}
pre {
    background-color: #FFFFFF;
    padding: 1em;
}
#menu li, #menu li a {
    list-style-type: none;
    padding: 0.3em;
}
#menu h4 {
    margin: 0px;
}
a {
    color:#0BE;
    text-decoration:none;
    padding: 0.1em;
}
a:hover {
    color:#000000;
    text-decoration:underline;
    background-color: #F4F4D2;
}
fieldset.error {
    border:2px solid red;
}
.help_text, .page_stats {
    font-size:0.8em;
}
#hash {
    background-color: grey;
}
#source, #source:active, #source:hover, #source:focus {
    background-color: white;
}
.footer, .header {
    text-align:center;
    background-color: white;
    line-height:2em;
}
.footer a {
    border:1px solid #f0f0f0;
    margin: 0.5em;
    padding: 0.2em;
}
.page_stats {
    padding-top:1em;
    text-align:right;
    font-weight:lighter;
}