{% extends "PyLucid_base.html" %}

{% block base_head %}
<link rel="stylesheet" type="text/css" href="{{ PyLucid_media_url }}/install_views.css" />
{% endblock %}

{% block base_content %}
<h3 class="header"><a href="http://www.pylucid.org">PyLucid</a> v{{ version }} - <a href="/" title="{% trans 'goto your PyLucid CMS page' %}">{{ request.META.HTTP_HOST }}</a></h3>
<h1>{% trans "error" %}: {{ error_msg }}</h1>

<h2>{% trans 'solutions:' %}</h2>
<p>
{% trans "If you haven't installed PyLucid go into the _install section:" %}
<a href="{% url PyLucid.install.index.menu . %}" title="{% trans 'goto the _install section' %}">{{ request.META.HTTP_HOST }}{% url PyLucid.install.index.menu . %}</a>
</p>

<p>
{% trans 'Please read the install guide:' %}</a>
</p>
{% endblock %}

{% block base_footer %}
<div class="footer">
<a href="http://pylucid.org/_goto/107/install-PyLucid/">install guide</a>
|
<a href="http://pylucid.org/_goto/108/Update-PyLucid/">update instructions</a>
</div>

<hr />
<p>The original error was: <pre>{{ exception }}</pre></p>
{% if traceback %}<p>Traceback: <pre>{{ traceback }}</pre></p>{% endif %}
<hr />

<p class="page_stats">{% trans 'page stats:' %} <!-- script_duration --></p>
{% endblock %}