{% extends "pylucid/css_anchor_div.html" %}

{% block plugin_content %}
{% if update_list %}
<table id="page_updates">
  <tr>
    <th>no</th>
    <th>update time</th>
    <th>type</th>
    <th title="content language">language</th>
    <th>title</th>
    <th>user name</th>
  </tr>
  {% for item in update_list %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ forloop.counter }}</td>
    <td>{{ item.lastupdatetime|date:_("DATETIME_FORMAT") }}</td>
    <td>{{ item.content_type }}</td>
    <td title="{{ item.language.description }}">{{ item.language.code }}</td>
    <td><a href="{{ item.object_url }}">{{ item.title|escape }}</a></td>
    <td>{{ item.user_name }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
    <p>No updates recorded in update journal.</p>
{% endif %}
{% endblock %}